<section class="flow-lg">
  <header class="main__header main__header--has-side-info">
    <h1 class="main__title animated fadeInLeftShort faster">Marketing</h1>
  </header>

  <ul id="pasta-list" class="sections__section animated fadeInLeftShort faster d100 l-card-list">
    {{#each model as |pasta idx|}}
      <li>
        <button class="media media--card p--lg" {{action "goToAreas" pasta.id}}>
          <picture class="media__picture w-auto">
            <span class="media__thumb" title="{{pasta.name}}">{{component (strconcat "icon-" pasta.image) class="p--sm"}}</span>
          </picture>
          <span class="media__body flow-md self-stretch">
            <span class="media__title title-3">{{pasta.name}}</span>
          </span>
        </button>
      </li>
    {{/each}}

    <li>
      <button class="media media--card p--lg" onclick={{action 'create'}}>
        <picture class="media__picture w-auto">
          <span class="btn__icon icon-plus"></span>
        </picture>
        <span class="media__body flow-md self-stretch">
          <span class="media__title title-3">Nova Pasta</span>
        </span>
      </button>
    </li>
  </ul>
</section>