<section class="flow-lg">
  <header class="main__header main__header--has-side-info">
    <h1 class="main__title animated fadeInLeftShort faster">Marketing</h1>
  </header>

  <ul id="pasta-list" class="sections__section animated fadeInLeftShort faster d100 l-card-list">
    {{#each model as |pasta idx|}}
      <li>
        <div class="media__botao-mkt">
        <button class="media media__card--mkt p--lg" {{action "goToAreas" pasta.id}}>
          <picture class="media__picture w-auto">
            <span class="media__thumb" title="{{pasta.name}}">{{component (strconcat "icon-" pasta.image) class="p--sm"}}</span>
          </picture>
        </button>
         <span class="media__botao-mkt--texto media__body flex flex-row self-stretch">
            <span class="media__title title-4" id="pasta{{pasta.id}}">{{pasta.name}}</span>
            <span id="icon-edit{{pasta.id}}" class="media__title--edit btn_icon_edit icon-edit" onclick={{action 'edit' pasta}} style="display: block;"></span>
            <div class="flex flex-col justify-around">
              <span id="icon-x{{pasta.id}}" class="btn_icon_edit icon-x" onclick={{action 'cancelEdit' pasta}} style="display: none;"></span>
              <span id="icon-save{{pasta.id}}" class="btn_icon_edit icon-save" onclick={{action 'saveEdit' pasta}} style="display: none;"></span>
            </div>
          </span>
        </div>
      </li>
    {{/each}}

    <li>
       <div class="media__botao-mkt">
      <button class="media media__card--mkt--texto p--lg" onclick={{action 'create'}}>
        <picture class="media__picture w-auto">
          <span class="btn__icon icon-plus media__picture--add media__botao-mkt__picture--add"></span>
        </picture>
        <span class="media__body flow-md self-stretch">
          <span class="media__title title-4">Nova Pasta</span>
        </span>
      </button>
      </div>
    </li>
  </ul>
</section>