{{!-- {{header-geral  parentController = this.aulasController
                pessoa=pessoaLogged
                thisRoute=thisRoute}} --}}

{{header-geral  
  parentController = this.parentController
  pessoa=model.pessoa
  thisRoute=thisRoute
  }}
  {{!-- togglerole=(action 'toggleRole') --}}

<div class="institutions flow-md">


  <!-- administration view -->
  {{#unless instView}}
      <header class="main__header main__header--has-side-info">
        <h1 class="main__title animated fadeInLeftShort faster">Acompanhamento</h1>
      </header>

      <section class="sections__section animated fadeInLeftShort faster d500">
        <form class="main__search" autocomplete="off" aria-autocomplete="none">
          <div class="form-group form-group--full-width">
            <label class="form-group__label" for="search">Busca</label>
            <div class="form-group__wrapper form-group__wrapper--search">
              {{input class="form-group__input"
              aria-describedby="basic-addon1"
              autocomplete="off"
              aria-autocomplete="none"
              id="matchValue"
              key-up="filterInst"
              type="text"}}
            </div>
          </div>
        </form>
      </section>

      <!-- gestor institution param -->
      <div style="display:none">{{oneInst}}</div>

      <!-- admin filtered institutions -->
      <ul id="matchDisplay" class="list list--striped animated fadeInLeftShort faster d750" style="display:none;">
        {{#each matchInsts as |inst|}}
        <li class="l-devil-albatross">
          <a class="title-3 btn btn--link color-blue-navy-60" {{action 'selectInst' inst.id on="click" }}>
            <span class="btn__label">{{inst.name}}</span>
          </a>
          <span class="switch switch--institutions flex-none m-left--auto m-right--auto">
            
          </span>
        </li>
        {{/each}}
      </ul>

      <!-- admin institutions list -->
      <ul id="modelInstList" class="list list--striped animated fadeInLeftShort faster d750">
        {{#each model.instituicoes as |inst|}}
        <li class="l-devil-albatross">
          <a class="title-3 btn btn--link color-blue-navy-60" {{action 'selectInst' inst.id on="click" }}>
            <span class="btn__label">{{inst.name}}</span>
          </a>
          <span class="switch switch--institutions flex-none m-left--auto m-right--auto">
            
          </span>
        </li>
        {{/each}}
      </ul>
  {{/unless}}


  {{#if instView}}
    
    <header class="main__header">
      <!-- back to institutions list -->
      <!-- Só aparece se for admin -->
      {{#if (equalstr role 'admin')}}
        <!-- Só aparece após ter o nome da instituição -->
        {{#if inst_selected.name}}
          <button class="main__back btn btn--link color-blue-navy-60 {{if inst_selected.name 'animated fadeInLeftShort faster'}}" id="back-person-specific_old" {{action 'backToInstList' on="click" }} type="button">
            <span class="icon-arrow-left"></span>
            <span class="btn__label">voltar</span>
          </button>
        {{/if}}
      {{/if}}
      <!-- / back to institutions list -->

      <div class="flex flex-row m-top--md">
        <!-- institutions selected name -->
        {{#if inst_selected.name}}
          <h1 class="main__title animated fadeInLeftShort faster d250">{{inst_selected.name}}</h1>
        {{else}}
          <h1 class="main__title" style="color: transparent">|</h1>
        {{/if}}
      </div>

    </header>

    {{#if inst_selected.name}}
      <section class="sections__section flow-xl">
            {{outlet}}
      </section>
    {{/if}}   

  {{/if}}

</div>