
{{header-geral  parentController = this.parentController
                pessoa=pessoa
                thisRoute=thisRoute
                livros = livros
                }}


<section class="flow-xl">
  <h1 class="sr-only">Conteúdo de {{thisRoute}}</h1>

  {{#unless (equalstr pessoa.role 'aluno')}}
  <nav>
    <ul class="tabs">
      {{#each segmentos as |seg|}}
        {{#if (equalstr seg.titulo 'Adultos')}}
          {{#if (or (equalstr pessoa.role 'admin') (equalstr pessoa.role 'recursosHumanos'))}}
            <li>
              <button type="button" class="tabs__tab {{if (equalstr selectedSegmento.titulo seg.titulo) 'tabs__tab--is-active'}}"
                {{action 'refreshSelectedSegmento' seg}}>
                <span>{{seg.titulo}}</span>
              </button>
            </li>
          {{/if}}  
        {{else}}
          <li>
            <button type="button" class="tabs__tab {{if (equalstr selectedSegmento.titulo seg.titulo) 'tabs__tab--is-active'}}"
              {{action 'refreshSelectedSegmento' seg}}>
              <span>{{seg.titulo}}</span>
            </button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </nav>
  {{/unless}}

  <div class="l-dots-between">

    <aside class="l-dots-between__side">
      <h1 class="sr-only">Filtros de conteúdos</h1>
      <form autocomplete="off" class="flex flex-col flow-md">
        <!--
          ==============
          Exemplo de botão para tela de acompanhamento, não ficará aqui no hbs de aulas
          ==============
        -->
        {{!-- <button class="btn btn--ghost">Download como Excel</button> --}}
        <!--
          ==============
          Fim do exemplo
          ==============
        -->
        {{#unless (equalstr pessoa.role 'aluno')}}
          <div class="two-col-wrap">
            {{#each selectedSegmento.plataformaAnos as |plat_ano|}}
                <button class="btn btn--as-filter {{if (equalstr selectedAno.name plat_ano.name) 'btn--is-active'}}" {{action 'refreshSelectedAno' plat_ano}} type="button">
                  <span class="btn__label" style="font-size:.875em;">{{plat_ano.name}}</span>
                </button>
            {{/each}}
          </div>
        {{/unless}}

        <div class="form-group">
          <label class="form-group__label">Busca</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="busca">
             <!-- onchange={{action 'refreshSelectedBusca' value='target.value'}}> -->
              <option selected="selected">Buscar por competências</option>
              <option value="Foco">Foco</option>
              <option value="Orgsnização">Orgsnização</option>
              <option value="Determinação">Determinação</option>
              <option value="Persistência">Persistência</option>
              <option value="Responsabilidade">Responsabilidade</option>
              <option value="Curiosidade">Curiosidade</option>
              <option value="Imaginação criativa">Imaginação criativa</option>
              <option value="Sensibilidade estética">Sensibilidade estética</option>
              <option value="Modulação do medo">Modulação do medo</option>
              <option value="Modulação da raiva">Modulação da raiva</option>
              <option value="Modulação da tristeza">Modulação da tristeza</option>
              <option value="Iniciativa social">Iniciativa social</option>
              <option value="Assertividade">Assertividade</option>
              <option value="Entusiasmo">Entusiasmo</option>
              <option value="Empatia">Empatia</option>
              <option value="Respeito">Respeito</option>
              <option value="Confiança">Confiança</option>
            </select>
          </div>
          <a class="form__aux-link" onclick={{action 'eraseText'}}>Limpar busca</a>
        </div>

        <div class="form-group">
          <label class="form-group__label">Situação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="situation"
              onchange={{action 'refreshSelectedSituacao' value='target.value'}}>
              <option selected="selected" value="">Todas</option>
              <option value="Não aplicada">Não Aplicada</option>
              <option value="Parcialmente aplicada">Parcialmente Aplicada</option>
              <option value="Aplicada">Aplicada</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label">Ordenação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="order"  onchange={{action 'refreshOrdem' value='target.value'}}>
              <option selected="selected" value="0">Ordem Crescente</option>
              <option value="1">Ordem Decrescente</option>
            </select>
          </div>
        </div>
      </form>
    </aside>

    <section class="l-dots-between__content flow-md">
      <hgroup class="divider p-bottom--lg">
        <h1 class="sr-only">Lista de conteúdos do {{selectedAno.name}}</h1>
        <div class="flex flex-row items-center gap-lg">
          <h2 class="title-4">{{selectedAno.name}}<span class="fs--xs fw--3 fs-i color-blue-navy-20"> ({{aulasFiltradas.length}}  {{if isBloco 'blocos' 'aulas'}})</span></h2>
        </div>
      </hgroup>
      <ul id="card-list-{{pessoaId}}" class="m-card-list animated slow {{if noCards 'd--none'}}">
        {{#each aulasFiltradas as |aulaFiltrada|}}
          <li>
            {{aula-card aula=aulaFiltrada selectedAno=selectedAno pessoa=pessoa selectedSituacao=selectedSituacao}}
          </li>
        {{/each}}

      </ul>
<div class="certificado__eja">
      {{#if certificado}}
        {{#link-to 'aulas.certificado' platanoId class="class-list__class_cta btn trail__certificate-btn class__cta btn btn--sm btn-certificado"}}Ver seu certificado{{/link-to}}
      {{/if}}
</div>
      {{#if noCards}}
        <div class="empty animated fadeIn">
          <div class="animated d250 fadeInUpShort faster flex-1 ta-c">
            <span class="empty__icon icon-frown-o icon--xl"></span>
            <p class="m-top--xs">Não encontramos nenhuma aula com os filtros selecionados</p>
          </div>
        </div>
      {{/if}}
    </section>

  </div>

</section>


<aside id="termo_modal" class="modal">
  <div class="modal__overlayer"></div>
  <div class="modal__content">
    <div class="modal__header">
      <button class="modal__close btn-close icon-x" type="submit" {{action 'cancelTermo'}}></button>
      <h2 class="modal__title color-leaf-40">Política de privacidade</h2>
    </div>
    {{politica-privacidade class="privacy"}}
    <div class="modal__footer">
      <button class="btn btn-primary" type="submit" {{action 'aceitarTermo'}}>Aceitar</button>
    </div>
  </div>
</aside>

<aside id="eja_modal" class="modal">
    <div class="modal__overlayer"></div>
    <div class="modal__content">
      <div class="modal__header">
        <h3 class="modal__title ">Você precisa terminar o seu percurso na Plataforma S para acessar o Portal do Semente.</h3>
      </div>
      <div class="modal__footer">
        <a href="https://s.programasemente.com.br" class="btn btn-primary" target="_blank">
              <span>Acessar Plataforma S</span>
        </a>
        <button class="btn" type="submit" {{action 'cancelEjaModal' }}>Fazer Logout</button>
      </div>
    </div>
  </aside>

{{termoAceito}}
{{ejaAcessoMedio}}
{{isProfAplicador}}
