<aside id="lote_user_modal" class="modal modal-carga-3 active modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content modal-carga-3__content-tela">
        <div class="institutions__mass-enroll-loader-container animated" id="spinner-importar-lote">
            <img src="/assets/img/lote-loader.gif" id="img-lote">
            <span class="institutions__mass-enroll-loader-message">{{loadMessage}}</span>
        </div>

        <div class="modal-carga-3__tit-modal">Subida de carga em lote</div>
        <button class="modal__close btn-close icon-x" onclick={{action 'verifyListPessoas'}}></button>
        <div class="modal-carga-3__content-tela--linhas">
            <p>Para iniciar o processo de subida, siga o passo-a-passo descrito abaixo:</p>

            <div class="modal-carga-3__content-tela--passos">
                <div id="progress-bar" class="progress-steps">
                    <div id="step-1" class="progress-step completed">
                        <span class="icon icon--xl icon-check-g-base"></span>
                        <div class="progress-step-label">Passo 1</div>
                        <div class="progress-step-label-2" {{action 'baixarTemplate' }}>Baixar template</div>
                    </div>
                    <div id="step-2" class="progress-step current">
                        <span id="icon-step-2" class="icon icon--xl icon-timer-base"></span>
                        <div class="progress-step-label">Passo 2</div>
                        <label class="progress-step-label-2" for="get_lote">Buscar arquivo</label>
                        <input id="get_lote" multiple="false" onchange={{action "buscarArquivo" }}
                            accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            type="file" style="display: none;">
                    </div>
                    <div id="step-3" class="progress-step incompleto">
                        <span id="icon-step-3" class="icon icon--xl icon-timer-base"></span>
                        <div class="progress-step-label">Passo 3</div>
                        <div class="progress-step-label-2" {{action 'validarArquivo' }}>Validar arquivo</div>
                    </div>
                    <div id="step-4" class="progress-step incompleto">
                        <span id="icon-step-4" class="icon icon--xl icon-timer-base"></span>
                        <div class="progress-step-label">Passo 4</div>
                        <div class="progress-step-label-2" {{action 'processarArquivo' }}>Processar arquivo</div>
                    </div>
                </div>
            </div>

            <div class="modal-carga-3__content-tela--arquivos">
                <h1><span class="icon icon--xl icon-anexar-base"></span>Arquivo selecionado: <b>{{selected_file}}</b>
                </h1>
                <p>Aqui embaixo aparecerá o diagnóstico do arquivo após a validação. Verifique se há erros e corrija-os conforme as orientações
                    dadas.
                    Caso não tenham sido encontrados erros, clique em Processar, no passo 4 acima.</p>
            </div>

            {{#if preProcessamento}}
            <div class="modal-carga-3__content-tela--detalhes">
                <table border="1">
                    <tr>
                        <th>Instituição</th>
                        <th>Alunos contratados</th>
                        <th>Alunos cadastrados</th>
                        <th>Prof contratados</th>
                        <th>Prof cadastrados</th>
                    </tr>
                    {{#each infosInstituicao as |inst|}}
                    <tr>
                        <td>{{inst.instituicao}}</td>
                        <td>{{inst.maxAlunos}}</td>
                        <td>{{inst.alunosCadastrados}}</td>
                        <td>{{inst.maxInstrutores}}</td>
                        <td>{{inst.instrutoresCadastrados}}</td>
                    </tr>
                    {{/each}}
                </table>


                {{!-- {{#if (isbigger '0' errosPlanilha.length)}} --}}
                {{#if errorsExists}}
                <p>Ajustes necessários</p>
                <table border="1" class="mb-4">
                    <tr>
                        <th>Erro</th>
                        <th>Linha</th>
                    </tr>
                    {{#each errosPlanilha as |erro|}}
                    <tr>
                        <td>{{erro.erro}}</td>
                        <td>{{erro.linha}}</td>
                    </tr>
                    {{/each}}
                </table>
                <table border="1">
                    <tr>
                        <th>Nome</th>
                        <th>Perfil</th>
                        <th>Erro</th>
                        <th>Linha</th>
                    </tr>
                    {{#each infosInstituicao as |inst|}}
                    {{#each inst.pessoas as |pessoa|}}
                    <tr>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.perfil}}</td>
                        <td>{{pessoa.erro}}</td>
                        <td>{{pessoa.linha}}</td>
                    </tr>
                    {{/each}}
                    {{/each}}
                </table>

                {{else}}
                {{#if avisoPlanilha}}
                <span
                    class="modal-carga-3__pre-validation modal-carga-3__pre-validation-warn mb-1 animated fadeInDown slow">Atenção:
                    Nenhum aplicador foi informado!</span>
                {{/if}}
                {{#if validacaoOK}}
                <span
                    class="modal-carga-3__pre-validation modal-carga-3__pre-validation-sucess animated fadeInDown slow">Arquivo
                    corretamente preenchido e pronto para ser processado!</span>
                {{/if}}
                {{/if}}


            </div>
            {{/if}}
            {{#if downloadStarted}}
            <span
                class="modal-carga-3__pre-validation modal-carga-3__pre-validation-sucess animated fadeInDown slow">Download
                iniciado, aguarde...</span>
            {{/if}}

            {{#if isRunning}}
            <span
                class="modal-carga-3__pre-validation modal-carga-3__pre-validation-sucess animated fadeInDown slow">Carga em andamento ➡️ {{percentCarga}}%
            </span>
            {{/if}}

            {{#if processamentoOk}}
            <span
                class="modal-carga-3__pre-validation modal-carga-3__pre-validation-sucess animated fadeInDown slow">Carga
                concluída com sucesso!</span>
            {{/if}}
        </div>

        <div class="modal-carga-3__content-tela-btns">
            {{#if historyLote}}
            <div class="institutions__mass-enroll__header">
                <span>Histórico de cargas realizadas</span>
            </div>
            <div class="institutions__mass-enroll__list">
                <table class="table table--striped table--mass-enroll">
                    <thead class="thead-dark">
                        <tr>
                            <th class="table__import" scope="col">Cadastrador</th>
                            <th class="table__file" scope="col">Arquivo</th>
                            <th class="table__import" scope="col">Importação</th>
                            <th class="table__import" scope="col">Status</th>
                            <th class="table__users" scope="col">Usuários</th>
                            <th class="table__users" scope="col">Processados</th>
                            <th class="table__not-processed" scope="col">Não Processados</th>
                            <th class="table__log" scope="col">Log</th>
                        </tr>
                    </thead>
                    <tbody class="gersistema-user-list-box">
                        {{#each lista_lote as |lista|}}
                        <tr>
                            <td class="table__import">{{lista.pessoaNome}}</td>
                            <td class="table__file">{{lista.nomeArquivo}}</td>
                            <td class="table__import">{{lista.data}}</td>
                            <td class="table__import">{{lista.status}}</td>
                            <td class="table__users">{{lista.quantidadeDeUsuarios}}</td>
                            <td class="table__users">{{lista.usuariosProcessados}}</td>
                            <td class="table__not-processed">{{lista.usuariosNaoProcessados}}</td>
                            <td class="table__log">
                                {{#if lista.link}}
                                <a href={{lista.link}}>
                                    <i class="icon-file-text"></i>
                                </a>
                                {{else}}
                                <i class="fa fa-times-o"></i>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
        </div>
    </div>
</aside>

{{loadInfo}}