<aside id="lote_user_modal" class="modal modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content modal__content--lg">
        <div class="institutions__mass-enroll-loader-container animated" id="spinner-importar-lote">
            <img src="/assets/img/lote-loader.gif" id="img-lote">
            <span class="institutions__mass-enroll-loader-message">Processando...</span>
        </div>
        <div class="modal__header">
            {{#link-to 'gerdata.users' model.instituicao.id}}
                <button class="modal__close btn-close icon-x"></button>
            {{/link-to}}
            <h3 class="modal__title">Cadastro de usuários em lote</h3>
        </div>

        <div class="modal__body modal__body--inside-scroll inside-scroll" style="max-height: 75vh;">
            <div class="inside-scroll__fixed">
                <p>Por meio dos botões abaixo, baixe o arquivo de carga, preencha-o, busque-o em seu computador e
                    realize o pré-processamento.</p>

                <div class="institutions__mass-enroll institutions__btn-group flow-h-xs">
                    <span class="institutions__mass-enroll-step"></span>
                    <button class="btn btn-primary btn__claro" type="submit" {{action 'baixarTemplate' }}>
                        Baixar template
                    </button>
                    <span>
                        <img src="/assets/img/seta-lado.png" alt="">
                    </span>
                    <span class="institutions__mass-enroll-step"></span>
                    <label class="btn label_get_lote" for="get_lote">Buscar arquivo</label>
                    <input id="get_lote" multiple="false" onchange={{action "buscarArquivo"}} 
                        accept="text/csv" type="file" style="display: none;" />
                      <span>
                        <img src="/assets/img/seta-lado.png" alt="">
                    </span>
                    
                    <span class="institutions__mass-enroll-step"></span>
                    {{#if (equalstr selected_file '')}}
                        <button class="btn btn-primary btn--disabled" type="submit" disabled>
                            Validar arquivo
                        </button>
                    {{else}}
                        <button class="btn btn-primary" type="submit" {{action 'preImportarLote' }}>
                            Validar arquivo
                        </button>
                    {{/if}}
                    <span>
                        <img src="/assets/img/seta-lado.png" alt="">
                    </span>
                    
                    <span class="institutions__mass-enroll-step"></span>
                    {{#if (and preProcessamento (equalstr errosPlanilha.length '0'))}}
                    <div class="flex flex-col justify-content-end">
                        <button class="btn" type="submit" {{action 'importarLote' }}>Processar</button>
                    </div>
                    {{else}}
                    <div class="flex flex-col justify-content-end">
                        <button class="btn" type="submit" {{action 'importarLote' }} disabled>Processar</button>
                    </div>
                    {{/if}}
                </div>
            {{#if selected_file}}
                <div class="institutions__attached-file alert alert--sm alert--has-icon alert--is-show">
                    <span class="alert__icon icon-paperclip"></span>
                    <span class="institutions__attached-label">Arquivo selecionado: </span>
                    <strong>{{selected_file}}</strong>
                </div>
            {{/if}}

                {{#if preProcessamento}}
                    <div class="institutions__mass-enroll-instructions flow-xs">
                        <h2>Atenção:</h2>
                        <p>Abaixo está o diagóstico do arquivo.</p>
                        <p>Verifique se há erros e corrija-os conforme as orientações dadas.</p>
                        <p>Caso não tenham sido encontrados erros, clique em "Processar", no passo 4 acima.</p>
                    </div>
                {{/if}}

                {{!-- <div class="t-center instrucoes">
                    <p>Em caso de dúvidas, acesse o nosso passo a passo <span class="destaque"> clicando abaixo</span></p>
                    <div class="passoapasso" id="passoapasso">
                        <div class="passoapasso__imagem"></div>
                    </div>
                    <span {{action 'abrirPasso' }}>
                        <img class="seta" {{action 'giro' }} src="/assets/img/seta-baixo.png" alt="" id="seta">
                    </span>
                </div> --}}
            </div>

            <div class="inside-scroll__scroll">

            {{#if error_lote}}
                <p>1- {{error_lote}}</p>
            {{/if}}
            {{#if wait_lote}}
                <p>Um momento...</p>
            {{else if erro_lista}}
                <p>2- {{erro_lista}}</p>
            {{else}}

            {{#if historyLote}}
            <div class="institutions__mass-enroll__header">
                <span>Histórico de cargas realizadas</span>
            </div>
                <table class="table table--striped table--mass-enroll">
                    <thead class="thead-dark">
                        <tr>
                            <th class="table__import" scope="col">Cadastrador</th>
                            <th class="table__file" scope="col">Arquivo</th>
                            <th class="table__import" scope="col">Importação</th>
                            <th class="table__import" scope="col">Status</th>
                            <th class="table__users" scope="col">Usuários</th>
                            <th class="table__users" scope="col">Processados</th>
                            <th class="table__not-processed" scope="col">Não Processados</th>
                            <th class="table__log" scope="col">Log</th>
                        </tr>
                    </thead>
                    <tbody class="gersistema-user-list-box">
                    {{#each lista_lote as |lista|}}
                        <tr>
                            <td class="table__import">{{lista.pessoaNome}}</td>
                            <td class="table__file">{{lista.nomeArquivo}}</td>
                            <td class="table__import">{{lista.data}}</td>
                            <td class="table__import">{{lista.status}}</td>
                            <td class="table__users">{{lista.quantidadeDeUsuarios}}</td>
                            <td class="table__users">{{lista.usuariosProcessados}}</td>
                            <td class="table__not-processed">{{lista.usuariosNaoProcessados}}</td>
                            <td class="table__log">
                            {{#if lista.link}}
                                <a href={{lista.link}}>
                                    <i class="icon-file-text"></i>
                                </a>
                            {{else}}
                                <i class="fa fa-times-o"></i>
                            {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#if preProcessamento}}
                    {{#if (isbigger errosPlanilha.length '0')}}
                        <div class="institutions__mass-enroll__header">
                            <span>Diagnóstico do pré-processamento</span>
                        </div>
                        <table class="table table--striped table--mass-enroll table--mt">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="table__file" scope="col">Erro</th>
                                    <th class="table__users" scope="col">Linha</th>
                                </tr>
                            </thead>
                            <tbody class="gersistema-user-list-box">
                            {{#each errosPlanilha as |erro|}}
                                <tr>
                                    <td class="table__file {{if (equalstr erro.erro 'Nenhum erro foi identificado') 'bg-success-10 color-success-50' 'bg-error-10 color-error-40'}}">{{erro.erro}}</td>
                                    <td class="table__users {{if (equalstr erro.linha '0') 'bg-success-10 color-success-50' 'bg-error-10 color-error-40'}}">{{erro.linha}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    {{/if}}
                    
                    <div class="institutions__mass-enroll__header">
                        <span>Prévia de alunos e turmas nesta carga</span>
                    </div>

                    <div class="pl-2">
                        <div class="cadastro-lote--infos">
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--name ml-3">Instituição</div>
                            {{#unless oneInst}}
                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--action"></div>
                            {{/unless}}
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Alun Contratados</div>
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Alun Cadastrados</div>
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Alun Planilha</div>
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Prof Contratados</div>
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Prof Cadastrados</div>
                            <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number mr-3">Prof Planilha</div>
                        </div>
                        <div class="cadastro-lote--instituicao d-flex d-flex--c w100 mb-2 mt-2">
                            {{#each infosInstituicao as |inst|}}
                                <div class="cadastro-lote--inst-segment">
                                    <div class="cadastro-lote--infos cadastro-lote--infos--name cadastro-lote--infos--nametable">{{inst.instituicao}}</div>
                                    {{#unless oneInst}}
                                        <div class="cadastro-lote--infos cadastro-lote--infos--action">
                                            <button class="btn" {{action 'showDetails' inst.instituicaoId}}>Detalhes</button>
                                        </div>
                                    {{/unless}}
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.maxAlunos}}</div>
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.alunosCadastrados}}</div>
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.alunosPlanilha}}</div>
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.maxInstrutores}}</div>
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.instrutoresCadastrados}}</div>
                                    <div class="cadastro-lote--infos cadastro-lote--infos--number">{{inst.instrutoresPlanilha}}</div>
                                </div>

                                <div id="detalhes-{{inst.instituicaoId}}" style="display:{{if oneInst 'flex' 'none'}}" class="w100 d-flex--c animated fadeIn">
                                    {{#if (isbigger inst.pessoas.length '0')}}
                                        <p class="cadastro-lote--subtitle cadastro-lote--subtitle--error">Ajustes necessários</p>
                                        <div class="cadastro-lote--card">
                                            <div class="cadastro-lote--infos">
                                                <div class="cadastro-lote--infos--title cadastro-lote--infos--name">Nome</div>
                                                <div class="cadastro-lote--infos--title cadastro-lote--infos--number">Perfil</div>
                                                <div class="cadastro-lote--infos--title cadastro-lote--infos--number">Erro</div>
                                                <div class="cadastro-lote--infos--title cadastro-lote--infos--number">Linha</div>
                                                <div class="cadastro-lote--infos--title cadastro-lote--infos--action"></div>
                                            </div>
                                            <div class="d-flex d-flex--c w100 mb-2 mt-3">
                                                 {{#each inst.pessoas as |pessoa|}}
                                                    <div class="cadastro-lote--infos">
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--name">{{pessoa.nome}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number">{{pessoa.perfil}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number">{{pessoa.erro}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number">{{pessoa.linha}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--action"></div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    {{/if}}

                                    {{#if (isbigger inst.turmas.length '0')}}
                                        <p class="cadastro-lote--subtitle">Prévia das turmas nesta instituição</p>
                                        <div class="cadastro-lote--card">
                                            <div class="cadastro-lote--infos">
                                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--name">Nome</div>
                                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Ano</div>
                                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number">Alunos</div>
                                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--number"></div>
                                                <div class="cadastro-lote--infos cadastro-lote--infos--title cadastro-lote--infos--action"></div>
                                            </div>
                                            <div class="d-flex d-flex--c w100 mb-2 mt-3">
                                                {{#each inst.turmas as |turma|}}
                                                    <div class="cadastro-lote--infos">
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--name">{{turma.plataformaTurma}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number">{{turma.plataformaAno}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number">{{turma.alunos}}</div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--number"></div>
                                                        <div class="cadastro-lote--infos cadastro-lote--infos--action"></div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}
            </div>
        </div>
    </div>
</aside>
{{loadInfo}}