<section class="flow-xl">
    <h1 class="scr-only">Acompanhamento do {{parentController.selectedSegmentoLocal.titulo}}</h1>
    <div class="box-area">
        <div class="box-area__item1">
            <h2 class="box-area__title-4"> Contratados</h2>
            <p>Alunos: <span>2</span></p>
            <p>Professores Aplicadores: <span>2</span></p>
            <p>Professores não Aplicadores: <span>2</span></p>
            <p>Alunos: <span>2</span></p>
            <p>Cooredenadores: <span>2</span></p>
            <p>Secretátia: <span>2</span></p>
            <p>Gestores: <span>2</span></p>
            <p>Marketing: <span>2</span></p>

        </div>
        <div class="box-area__item2">
            <h2 class="box-area__title-4">Liçenças</h2>
            <p>Alunos:<span>2</span></p>
            <p>Professores Aplicadores: <span>2</span></p>
            <p>Professores não Aplicadores: <span>2</span></p>
            <p>Alunos: <span>2</span></p>
            <p>Cooredenadores: <span>2</span></p>
            <p>Secretátia: <span>2</span></p>
            <p>Gestores: <span>2</span></p>
            <p>Marketing: <span>2</span></p>
        </div>
        <div class="box-area__item3">
            <h2 class="box-area__title-4">Plataforma S - Acessos de Usuários</h2>
            <p>Alunos: <span>2</span> <span class="tooltip">
                    <span class="btn-detalhes">i</span>
                    <span class="tooltiptext">
                        <p><b>Estado</b> </p>
                        <p> Não iniciados: <span>2</span></p>
                        <p>Em andamento: <span>2</span></p>
                        <p> Em andamento: <span>2</span> </p>
                        <p> Concluídos: <span>2</span></p>
                    </span>
                </span>
            </p>
            <p>Professores Aplicadores: <span>2</span></p>
            <p>Professores não Aplicadores: <span>2</span></p>
            <p>Alunos: <span>2</span></p>
            <p>Cooredenadores: <span>2</span></p>
            <p>Secretátia: <span>2</span></p>
            <p>Gestores: <span>2</span></p>
            <p>Marketing: <span>2</span></p>
        </div>
    </div>
    <nav>
        <ul class="tabs box-menu">
            {{#each segmentos as |seg|}}
            {{#if (equalstr seg.titulo 'Adultos')}}
            {{#if (or (equalstr role 'admin') (equalstr role 'recursosHumanos'))}}
            <li>
                <button type="button"
                    class=" tabs__tab box-menu__acompanhamento {{if (equalstr parentController.selectedSegmentoLocal.titulo seg.titulo) 'box-menu__acompanhamento--is-active'}}"
                    {{action 'refreshSelectedSegmento' seg}}>
                    <span>{{seg.titulo}}</span>
                </button>
            </li>
            {{/if}}
            {{else}}
            <li>
                <button type="button"
                    class="tabs__tab box-menu__acompanhamento {{if (equalstr parentController.selectedSegmentoLocal.titulo seg.titulo) 'box-menu__acompanhamento--is-active'}}"
                    {{action 'refreshSelectedSegmento' seg}}>
                    <span>{{seg.titulo}}</span>
                </button>
            </li>
            {{/if}}
            {{/each}}
            {{#if haveEad}}
            <li>
                <button type="button" class="tabs__tab box-menu__acompanhamento" {{action 'goToEad' }}>
                    <span>EAD</span>
                </button>
            </li>
            {{/if}}
        </ul>
    </nav>
    <div class="l-dots-between ">
        <header class="l-dots-between__side">
            <form autocomplete="off" class="flex flex-col flow-md box-area">
                <div class="form-group">
                    <label class="form-group__label">Busca</label>
                    <div class="form-group__wrapper form-group__wrapper--search">
                        {{input class="form-group__input"
                        type="text"
                        id="pesquisaperfil"
                        placeholder="Pesquisar Perfil"
                        value=this.search}}
                    </div>
                    <a class="form__aux-link" onclick={{action 'eraseText' }}>Limpar busca</a>
                </div>

                <div class="form-group">
                    <label class="form-group__label" for="situation">Perfis</label>

                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" id="situation">
                            <option selected="selected" value="">Professor aplicador</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="form-group__label" for="situation">Anos</label>

                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedAno'
                            value='target.value' }}>

                            <option selected="selected" value="">Todos</option>

                            {{#each plataformaAnos as |pa|}}
                            <option selected={{if (equalstr pa.id selectedPlataformaAno.id) "selected" }}
                                value={{pa.id}}>{{pa.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#if (equalstr selectedFilteredRole "alunos")}}
                {{#if platAnoFiltered}}
                <div class="form-group">
                    <label class="form-group__label">Turma</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedTurma'
                            value='target.value' }}>
                            <option selected="selected" value="">Todas</option>
                            {{#each plataformaTurmas as |pt|}}
                            <option value={{pt.id}} selected={{if (equalstr pt.id selectedPlataformaTurma.id) "selected"
                                }}>
                                {{pt.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/if}}
                {{/if}}
            </form>
        </header>
        <section class="l-dots-between__content flow-md box-tabela">
            <hgroup>
                <h1 class="sr-only">Lista de aulas do {{parentController.selectedSegmentoLocal.titulo}}</h1>
                <h2 class="title-4">{{if selectedPlataformaAno.name selectedPlataformaAno.name 'Todos os Professores
                    aplicadores - 8 Professores'}}</h2>
            </hgroup>
            {{#if (equalstr selectedFilteredRole 'professores')}}
            <table class="table table--striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Videos assistidos</th>
                        <th class="ta-c">Aulas aplicadas</th>
                        <th class="ta-c">Arquivos utilizados</th>
                        <th class="p-h--xs">Acessos</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each professores as |p|}}
                    {{#if (containStr subStr = this.search mainStr = p.name)}}
                    <tr>
                        <td>
                            <div class="flex flex-col flow-sm">
                                <span class="title-5 capitalized">{{p.name}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-col flow-sm">
                                <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                    <span class="strong">{{p.nrVideosPreparacao}}
                                    </span>
                                </span>
                                <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                    <span class="ws-i">Tempo assistido:</span>
                                    <span class="strong">{{p.nrVideosAlunos}}</span>
                                </span>
                            </div>
                        </td>
                        <td class="ta-c">
                            <span class="fs--xxs tt-u">{{p.nrAplicacaoPlataformaAulas}}</span>
                        </td>
                        <td class="ta-c">
                            <span class="fs--xxs tt-u">22</span>
                        </td>
                        <td class="p-h--xs">
                            <div class="flex flex-col flow-sm">
                                <span
                                    class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u acomp-ultimos-acessos"
                                    style="border-bottom: 1px solid #000;">
                                    <span class="ws-i">Último</span>
                                    <span class="strong">{{p.lastAccess}}</span>
                                </span>

                                <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                    <span class="ws-i">Total</span>
                                    <span class="strong">{{p.acessos}}</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <table class="table table--striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="ta-c">Videos assistidos</th>
                        <th class="ta-c">Acessos</th>
                        <th class="ta-c p-h--xs">Último acesso</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each alunos as |a|}}
                    {{#if (containStr subStr = this.search mainStr = a.name)}}
                    <tr>
                        <td>
                            <span class="title-4 capitalized">{{a.name}}</span>
                        </td>
                        <td class="ta-c">
                            <span class="fs--xxs tt-u">{{a.nrVideosAlunos}}</span>
                        </td>
                        <td class="ta-c">
                            <span class="fs--xxs tt-u">{{a.acessos}}</span>
                        </td>
                        <td class="ta-c p-h--xs">
                            <span class="fs--xxs tt-u">{{a.lastAccess}}</span>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </section>
    </div>
</section>