<main class="main self-registration">

    <span class="self-registration__graphism graphism-circle"></span>
    <img class="self-registration__img" src="/assets/img/img-autocadastro-login.png"
        alt="Três pessoas sorrindo: uma professora negra, uma aluna pre-adolescente e um aluno do infantil.">

    <div class="row m-bottom--md m-top--xxl middle-xs">
        <div class="col-xs-5 col-md-3">
            {{programa-semente-logo class="logo"}}
        </div>
    </div>
    <div class="row">
        <form autocomplete="off" class="col-xs-12 col-md-5">
            <p>Para iniciar seu cadastro, por favor informe os dados abaixo</p>
            
            <fieldset class="fieldset m-top--sm">
                <legend>Identificação (login)</legend>
                <div id="form-login" class="form-group w100" autocomplete="off">
                <div class="fieldset__field--has-checkbox">
                    <input id="email-choice" name="emailCadastro" type="checkbox" class="j-validate-ident" checked onchange={{action 'toggleCheckbox'}} >
                    <label class="form-group__label" for="login" maxlength="100">E-mail</label>
                </div>
                <div class="form-group__input-container form-group__input-container--has-validation">
                        <input  class="form-group__input w100 j-validate-ident-text"
                                autocomplete="new-user"
                                id="emailUser"
                                onblur={{action 'verifyEmail'}}
                                onkeydown={{action 'liveCheckEmail'}}
                                
                                type="text"
                                pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                >
                    </div>
                    {{!-- <span id='login-error'></span> --}}
                    <p class="alert alert--has-icon alert--minimalist m-top--xs color-error-30 animated d250 fadeIn" id="login-error"
                        data-animation="fadeIn">
                        <span class="alert__icon icon-x"></span>
                        <span class="alert__msg"></span>
                    </p>
                </div>

                <span class="fieldset__or"></span>

                <div id="form-cpf" class="form-group w100" autocomplete="off">
                    <div class="fieldset__field--has-checkbox">
                        <input id="cpf-choice" name="cpfCadastro" type="checkbox" class="j-validate-ident" checked onchange={{action 'toggleCheckbox'}}>
                        <label class="form-group__label" for="login" maxlength="100">CPF</label>
                    </div>
                    <div class="form-group__input-container form-group__input-container--has-validation">
                        <input  class="form-group__input w100 j-validate-ident-text"
                                autocomplete="new-user"
                                id="login"
                                type="text"
                                value={{cpf}}
                                onkeyup={{action 'replaceCPF'}}
                                onblur={{action 'verifyCPF'}}
                                maxlength="15">
                    </div>
                    {{!-- <span id='login-error'></span> --}}
                    <p class="alert alert--sm alert--error alert--has-icon m-top--sm animated d250" id="login-error"
                        data-animation="fadeIn">
                        <span class="alert__icon icon-x"></span>
                        <span class="alert__msg"></span>
                    </p>
                </div>
            </fieldset>
            <span id="error-fieldset-ident" class="color-error-30 fieldset__error">{{fieldset1Error}}</span>
            
            


            <fieldset class="fieldset m-top--sm">
                <legend>Senha</legend>
                <div class="form-group w100">
                    <label class="form-group__label" for="senha">Senha</label>
                    <div class="j-password form-group__input-container form-group__input-container--has-validation">
                        <input class="form-group__input w100" type="password" id="senha" onkeyup={{action 'verifyPassword'}} onblur={{action 'verifyPassword'}} autocomplete="new-password">
                    </div>
                    <span id='password-error'></span>
                </div>
                <div class="form-group m-top--sm w100">
                    <label class="form-group__label" for="senha">Repetir Senha</label>
                    <div class="j-password form-group__input-container form-group__input-container--has-validation">
                        <input class="form-group__input w100" type="password" id="senha2" onkeyup={{action 'verifyPassword'}} onblur={{action 'verifyPassword'}}>
                    </div>
                </div>
            </fieldset>
                                <p class="alert alert--has-icon alert--minimalist m-top--xs color-error-30 animated d250 fadeIn" id="pass-error"
                        data-animation="fadeIn">
                        <span class="alert__icon icon-x"></span>
                        <span class="alert__msg"></span>
                    </p>
        <p class="alert alert--sm alert--error alert--has-icon m-top--sm animated d250" id="codigo-error" data-animation="fadeIn">
            <span class="alert__icon icon-x"></span>
            <span class="alert__msg"></span>
          </p>
        </form>
         
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn--md m-top--lg self-registration__cta" dataDisabled="true" id='submit' type="button"
                onclick={{action 'createUser'}}>Avançar</button>
        </div>
    </div>
</main>
