
{{#if (or (equalstr situacao selectedSituacao) (equalstr selectedSituacao ""))}}
<div class="media {{if (not aula.hasContent) 'media--card media--card--is-disabled' 'media--card media--card--fundo'}}">
  <div class="degrade"></div>
  <img class="media--card--imagem-aula" id="thumbnail-aula-card{{aula.id}}" src="{{aula.thumbnail}}" alt="{{aula.titulo}}"/>
  <div class="media__body flow-md self-stretch media--card--infos-card">
    <div class="flex flex-row justify-between">
      <div class="titulo-aula">
        <div class="flow-xxs">
          {{#if aula.unidade}}
          <span class="media__title title-2">
            {{aula.unidade.titulo}}
          </span>
          {{else}}
          <span class="media__title title-2">{{aula.titulo}}</span>
          {{/if}}
        </div>
      </div>
      {{#if (equalstr pessoa.role 'admin')}}
        <div class="editar-aula">
          {{#link-to 'aulas.editaula' aula.id class="btn btn--ghost btn--xxs"}}
            <span class="btn__label">Editar</span>
          {{/link-to}}
        </div>
      {{/if}}
    </div>
    <div class="descricao-aula">
      <p class="media__title--nova-descricao-aula">{{aula.descricao}}</p>
    </div>

    <div class="habilidades">
      {{#each aula.comps as |competencia|}}
        <span class="habilidades etiquetas">{{competencia.sigla}}</span>
      {{/each}}
    </div>
    {{#if (equalstr situacao "Aplicada")}}
      <span class="descricao-aula">Aplicada em: <span class="fw--4">{{UltimaAplicacao.dataAplicacaoFormatShort}}</span></span>
    {{else}}
      <span class="descricao-aula">{{situacao}}</span>
    {{/if}} 
    <div class="btn-materiais-aula">
      {{#if (not aula.hasContent)}}
      <div class="btn btn--disabled btn--ghost btn--xxs novo-btn-materiais-aula">
        <span class="icon-lock m-right--xs"></span>
        <span>Ainda não há materiais</span>
      </div>
      {{else}}
      {{#link-to 'aulas.content' aula.id class="btn-right-bottom"}}
        <h2 class="btn btn--xxs animated fadeInLeftShort faster d100">Ver materiais</h2>
      {{/link-to}}
      {{/if}}
    </div>
  </div>

</div>
{{/if}}