
{{#if (equalstr conteudo.tipo 'Video')}}
  <div class="media ">
    <picture class="media__picture" id="conteudo-{{conteudo.id}}" style="cursor: pointer;" onclick={{action 'openModal' conteudo}}>
      <img class="media__thumb" id="file-{{conteudo.id}}" src={{thumbnail}} alt="{{conteudo.titulo}}">
    </picture>

    <div class="media__body flow-md">
      <span class="media__title title-4" id="conteudo-{{conteudo.id}}" style="cursor: pointer;" onclick={{action 'openModal' conteudo}}>{{conteudo.titulo}}</span>
      {{#if haveDescription}}
        <span>{{conteudo.descricao}}</span>
      {{/if}}
      {{#if haveRecommendation}}
        <h2>Para Saber Mais:</h2>
        <span>{{conteudo.indicacao}}</span>
        <span>{{conteudo.indicacaoDescricao}}</span>
        <a href="{{conteudo.indicacaoUrl}}" target="_blank" rel="noopener noreferrer">{{conteudo.indicacaoUrl}}</a>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="media media--middle">
    <a class="global-nav__link" href="{{conteudo.arquivoUrl}}" target="_blank" rel="nofollow noopener noreferrer">
      <picture class="media__picture" id="conteudo-{{conteudo.id}}" style="cursor: pointer;">
        <img class="media__thumb" id="file-{{conteudo.id}}" src={{thumbnail}} alt="{{conteudo.titulo}}">
      </picture>
    </a>
    <div class="media__body flow-md">
      <a class="media__title title-4" href="{{conteudo.arquivoUrl}}" target="_blank" rel="nofollow noopener noreferrer" 
        id="conteudo-{{conteudo.id}}" style="cursor: pointer;">{{conteudo.titulo}}
      </a>
      {{#if haveDescription}}
        <span>{{conteudo.descricao}}</span>
      {{/if}}
      {{#if haveRecommendation}}
        <h2>Indicação:</h2>
        <span>{{conteudo.indicacao}}</span>
        <span>{{conteudo.indicacaoDescricao}}</span>
        <a href="{{conteudo.indicacaoUrl}}" target="_blank" rel="noopener noreferrer">{{conteudo.indicacaoUrl}}</a>
      {{/if}}
    </div>
  </div>
{{/if}}