<aside id="new_inst_modal" class="modal modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content">
        {{!-- <header class="modal__header">
            <button class="modal__close btn-close icon-x" type="submit" {{action 'newInstCancel' on="click" }}></button>
            <h3 class="modal__title">Nova Instituição</h3>
            <div class="institutions__steps steps">
                <div class="steps__step">
                    <div class="steps__label">Informações Básicas</div>
                    <div class="steps__number {{if goToStepTwo '' 'steps__number--is-active'}}" {{action 'goTo' '1' }}>1
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__label">Anos Habilitados</div>
                    <div class="steps__number {{if goToStepTwo 'steps__number--is-active' ''}}" {{action 'goTo' '2' }}>2
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__label">Finalizar</div>
                    <div class="steps__number" {{action 'newInstSave' on="click" }}>3</div>
                </div>
            </div>
        </header> 
        <div class="modal__body">
            {{!-- <!-- new institution step 1 -->
            <div
                class=" flow-lg institutions__step-content {{if goToStepTwo '' 'institutions__step-content--is-show'}}">
                <section class="sections__subsection">
                    <h4 class="main__subsubtitle">Básicas</h4>
                    <div class="form-group form-group--horizontal form-group--full-width items-start flex-wrap">
                        {{validated-input class="form-group--aired-h" label="Nome" propertyName="name" changeset=changeset}}
                        {{validated-input class="form-group--aired-h" label="Radical (para códigos)" propertyName="radical" changeset=changeset}}
                        {{validated-input class="form-group--aired-h" label="UF" propertyName="uf" changeset=changeset}}
                        {{validated-input class="form-group--aired-h" label="Cidade" propertyName="cidade" changeset=changeset}}
                        {{checkbox-input label="Status" propertyName="enabled" changeset=changeset}}
                        {{checkbox-input label="É escola?" propertyName="isEscola" changeset=changeset}}
                        {{checkbox-input label="Termo Aceite" propertyName="statusTermoAceite" changeset=changeset}}
                    </div>
                </section>
                <section class="sections__subsection">
                    <h4 class="main__subsubtitle">Número de usuários</h4>
                    <div class="flex flex-row flex-wrap gap-sm flow-h-sm">
                         {{validated-input class="" label="Gestores" propertyName="nrgestores" changeset=changeset}}
                         {{validated-input class="" label="Coordenadores" propertyName="nrcoordenadores" changeset=changeset}}
                         {{validated-input class="" label="Secretaria" propertyName="nrsecretaria" changeset=changeset}}
                         {{validated-input class="" label="Marketing" propertyName="nrmarketing" changeset=changeset}}
                         {{validated-input class="" label="Professores" propertyName="nrinstrutores" changeset=changeset}}
                         {{validated-input class="" label="Alunos" propertyName="nralunos" changeset=changeset}}
                    </div>
                </section>
                <section class="sections__subsection">
                    <h4 class="main__subsubtitle">Sistemas</h4>
                    <ul class="flex flex-col flow-sm">
                        <div class="checkbox">
                            <input class="checkbox__input" id="new_sis_1" type="checkbox">
                            <label class="checkbox__label" for="new_sis_1">Programa.Semente</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" id="new_sis_2" type="checkbox"
                                onchange={{action 'checkboxSPlus' }}>
                            <label class="checkbox__label" for="new_sis_2">Plataforma S</label>
                        </div>
                        {{#if newInstTemS}}
                        <li class="checkbox" style="margin-left:45px;">
                            <input class="checkbox__input" id="new_sis_sPlus" type="checkbox">
                            <label class="checkbox__label" for="new_sis_sPlus">S Plus</label>
                        </li>
                        {{/if}}
                    </ul>
                </section>
            </div>
            <!-- new institution step 2 -->
            <div class="institutions__step-content {{if goToStepTwo 'institutions__step-content--is-show' ''}}">
                <ul class="list list--img-name-action list--striped">
                    {{#each plataformaAnos as |pa|}}
                    <li>
                        <h3 class="list__name title-3">{{pa.segmento.titulo}} - {{pa.name}}</h3>
                        <span class="switch switch--institutions">
                            <input id="isCkb{{pa.id}}" type="checkbox" checked={{isinarray pa
                                inst_selected.plataformaAnos}} style="display:none">
                            <input class="switch__checkbox" id="ckb_new_{{pa.id}}" type="checkbox">
                            <label class="switch__label" for="ckb_new_{{pa.id}}">
                                <span class="switch__inner"></span>
                                <span class="switch__head"></span>
                            </label>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div> 
        </div>--}}
    </div>
</aside>