<!-- Header geral -->
<header class="l-user-header lflex items-start gap-lg">


<div class="l-user-header__wrapper">
    <div class="l-user-header__logo">
      <img src="/assets/img/ps-logo-primario.png" alt="Plataforma Semente">
    </div>


  {{!-- <picture class="l-user-header__avatar avatar avatar--lg flex justify-center" {{action 'toggleAvatarModal' }}>
    {{#if pessoa.uriAvatar}}
      <img class="avatar__img" src={{pessoa.uriAvatar}} alt="{{pessoa.name}}">
    {{else}}
      <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{pessoa.name}}">
    {{/if}}
    <div class="avatar__placeholder icon-edit icon--xl"></div>
  </picture> --}}
  
     <nav class="l-user-header__nav">
      <ul>
        <li>
          {{#unless (or (and (equalstr pessoa.role 'instrutor') (equalstr pessoa.isAplicador '0')) (equalstr pessoa.role 'secretaria'))}}
            {{#if isAlunoMedio}}
              {{else}}
              {{#unless (or (equalstr pessoa.role "marketing") (equalstr pessoa.role "secretaria"))}}
                {{#link-to 'aulas.index' class="tabs__tab" id="aulas-header"}}
                  <span>Aulas</span>
                {{/link-to}}
              {{/unless}}
            {{/if}}
          {{/unless}}
        </li>
        <li>
          {{#unless (or (equalstr pessoa.role "marketing") (equalstr pessoa.role "secretaria"))}}
            {{#unless (or isAlunoMedio isEja)}}  
              {{#link-to 'aulas.bibliotecaindex' class="tabs__tab"}}
                <span>Biblioteca</span>
              {{/link-to}}
            {{/unless}}
          {{/unless}}
        </li>

        {{#if (or (equalstr pessoa.role 'admin') (and (equalstr pessoa.role 'gestor') (equalstr pessoa.instituicao.id "9")))}}
          {{#link-to 'geracompanhamento' class="tabs__tab"}}
            <span>Acompanhamento</span>
          {{/link-to}}
        {{/if}}

        {{#if (or (or (or (equalstr pessoa.role 'instrutor') (equalstr pessoa.role 'coordenador')) (and (equalstr pessoa.role 'gestor') (notequalstr pessoa.instituicao.id "9"))) (and (equalstr pessoa.role 'instrutor') (equalstr pessoa.isAplicador '1')))}}
          {{#link-to 'acompanhamento.plataforma' pessoa.instituicao.id class="tabs__tab"}}
            <span>Acompanhamento</span>
          {{/link-to}}
        {{/if}}

        {{#unless (or (or (or (equalstr pessoa.role 'aluno') (equalstr pessoa.role 'responsavel')) (equalstr pessoa.role
        'instrutor')) (equalstr pessoa.role 'secretaria'))}}
          {{#link-to 'marketing.index' class="tabs__tab" id="tabMkt"}}
            <span>Marketing</span>
          {{/link-to}}
        {{/unless}}

        {{#if (equalstr pessoa.role 'admin')}}
          {{#link-to 'conteudos.index' class="tabs__tab" id="tabContents"}}
            <span>Conteúdos</span>
          {{/link-to}}
        {{/if}}

        {{#if (or (equalstr pessoa.role 'admin') (and (equalstr pessoa.role 'gestor') (equalstr pessoa.instituicao.id "9")))}}
          {{#link-to 'gersistema' class="tabs__tab"}}
            <span>Administração</span>
          {{/link-to}}
        {{/if}}

        {{#if (or (or (equalstr pessoa.role 'secretaria') (and (equalstr pessoa.role 'gestor') (notequalstr pessoa.instituicao.id "9"))) (equalstr pessoa.role 'recursosHumanos'))}}
          {{#link-to 'gerdata.users' pessoa.instituicao.id class="tabs__tab"}}
            <span>Administração</span>
          {{/link-to}}
        {{/if}}
      </ul>
    </nav>
  
</div> 

</header>