<!-- new institution step 1 -->
<form {{action 'submit' on='submit' }}>
    <div class="flow-lg institutions__step-content institutions__step-content--is-show">
        <section class="sections__subsection">
            <div class="flex flex-col m-top--sm">
                <h4 class="modal__subtitle">Informações gerais</h4>
                <div class="flex flex-row justify-between">
                    <div class="w35">
                        {{validated-input label="Nome" propertyName="name" changeset=changeset}}
                    </div>
                    <div class="flex flex-row justify-between w60">
                        {{validated-input label="Radical (para códigos)" propertyName="radical" changeset=changeset}}
                        {{validated-input label="UF" propertyName="uf" changeset=changeset}}
                        {{validated-input label="Cidade" propertyName="cidade" changeset=changeset}}
                    </div>
                </div>
                <div class="flex flex-row justify-between">
                    {{switch-input label="Status" propertyName="enabled" changeset=changeset classe="enabled"}}
                    {{switch-input label="É escola?" propertyName="isEscola" changeset=changeset classe="isEscola"}}
                    {{switch-input label="Termo Aceite" propertyName="statusTermoAceite" changeset=changeset classe="statusTermoAceite"}}
                    {{switch-input label="Plataforma S" propertyName="sEnabled" changeset=changeset onchange="checkSPlus" classe="sEnabled"}}
                    {{switch-input label="S Plus" propertyName="sPlusEnabled" changeset=changeset classe="sPlusEnabled"}}
                </div>
                <h4 class="modal__subtitle">Gestão de usuários</h4>
                <div class="flex flex-row justify-between">
                    {{validated-input label="Gestores" propertyName="nrgestores" changeset=changeset classe="numeric"}}
                    {{validated-input label="Coordenadores" propertyName="nrcoordenadores" changeset=changeset classe="numeric"}}
                    {{validated-input label="Secretaria" propertyName="nrsecretaria" changeset=changeset classe="numeric"}}
                    {{validated-input label="Marketing" propertyName="nrmarketing" changeset=changeset classe="numeric"}}
                    {{validated-input label="Professores" propertyName="nrinstrutores" changeset=changeset classe="numeric"}}
                    {{validated-input label="Alunos" propertyName="nralunos" changeset=changeset classe="numeric"}}
                </div>
                {{#if haveSegmentos}}
                    <h4 class="modal__subtitle">Gestão escolar</h4>
                {{/if}}
                <div class="flex flex-row justify-between">
                    {{#each segmentos as |segmento|}}
                    {{switch-input label=segmento.titulo propertyName=(concatenate "segmento_" segmento.id) classe="segmento"}}
                    {{/each}}
                </div>
                <div class="flex flex-row justify-content-between m-top--sm">
                    {{#unless haveSegmentos}}
                        {{#link-to 'gerdata.informations.deleteinst' instituicao.id}}
                            <button class="btn" style="background-color: #b62020;">
                                <span>Excluir</span>
                            </button>
                        {{/link-to}}
                    {{/unless}}
                    <div class="flex flex-col justify-content-end">
                        <div class="color-error-40 " id="form-inst-error"></div>
                        <button class="btn" type="submit">{{buttonLabel}}</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
