<!-- new institution step 1 -->
<form {{action 'submit' on='submit' }}>
    <div class="flow-lg institutions__step-content institutions__step-content--is-show {{if isEdit 'institutions__table-usuarios' ''}}">
        <section class="sections__subsection">
            <div class="flex flex-col m-top--sm">
                <h4 class="modal__subtitle mt-0">Informações gerais</h4>
                <div class="flex-row justify-between" style="align-items: baseline;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="w35 form-group form-group__usuarios">
                                {{validated-input label="Nome" propertyName="name" changeset=changeset}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="w35 form-group form-group__usuarios">
                                {{validated-input label="Radical (para códigos)" propertyName="radical"
                                changeset=changeset}}
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="w35 form-group form-group__usuarios">
                                {{validated-input label="UF" propertyName="uf" changeset=changeset}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="w35 form-group form-group__usuarios">
                                {{validated-input label="Cidade" propertyName="cidade" changeset=changeset}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-between form-group form-group__usuarios">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="" class="form-group__infos w100">
                                <label class="form-group__label">Tipo de Instituição</label>
                                <div class="form-group__wrapper form-group__wrapper--select">
                                    <select id="isEscola" name="isEscola" data-type="select" data-required="true"
                                        class="form-group__input">
                                        <option value="true" selected={{if (equalstr instituicao.isEscola true) 'selected'}}>Escola</option>
                                        <option value="false" selected={{if (equalstr instituicao.isEscola false) 'selected'}}>Empresa / Setor Público</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2">
                            {{switch-input label="Venda Direta" propertyName="vendaDireta" changeset=changeset classe="vendaDireta" class="form-group__infos"}}
                        </div>

                        <div class="col-md-2 ml-3">
                            {{switch-input label="Termo Aceite" propertyName="statusTermoAceite" changeset=changeset classe="statusTermoAceite" class="form-group__infos"}}
                        </div>

                        <div class="col-md-2 ml-3">
                            {{switch-input label="Status" propertyName="enabled" changeset=changeset classe="enabled" class="form-group__infos"}}
                        </div>
                    </div>
                </div>

                <h4 class="modal__subtitle mt-5">Gestão de usuários</h4>
                <div class="flex flex-row form-group form-group__usuarios">
                    <div class="row w100">
                        {{#if isEdit}}
                        <div style="display:none;">{{codigos}}</div>
                        <div class="col-md-2 col-sm-12">
                            {{validated-input label="Professores contratados" propertyName="nrinstrutores" changeset=changeset classe="numeric"}}
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group__container--medicao">
                                <label>Professores criados</label>
                                <div class="form-group__container">
                                    <div id="barra-professores" class="form-group__container--bar"></div>
                                </div>
                                <label>{{totalUtilizadosInstrutores}}/{{totalCodigosInstrutores}}</label>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                            {{validated-input label="Alunos contratados" propertyName="nralunos" changeset=changeset classe="numeric"}}
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group__container--medicao">
                                <label>Alunos criados</label>
                                <div class="form-group__container">
                                    <div id="barra-alunos" class="form-group__container--bar alunos"></div>
                                </div>
                                <label>{{totalUtilizadosAlunos}}/{{totalCodigosAlunos}}</label>
                            </div>
                        </div>
                        <div style="display:none;">{{carregaBarras}}</div>
                        
                        <div class="mt-4 ml-4 flex justify-content-between w30">
                            <div class="form-group__container--medicao">
                                <h2 class="flex">Gestores: <span class="ml-1">{{instituicao.nrgestores}}</span></h2>
                                <h2 class="flex">Coordenadores: <span class="ml-1">{{instituicao.nrcoordenadores}}</span></h2>
                            </div>
                            <div class="form-group__container--medicao">
                                <h2 class="flex">Secretaria: <span class="ml-1">{{instituicao.nrsecretaria}}</span></h2>
                                <h2 class="flex">Marketing: <span class="ml-1">{{instituicao.nrmarketing}}</span></h2>
                            </div>
                        </div>
                        {{else}}
                            <div class="col-md-4 col-sm-12">
                                {{validated-input label="Professores contratados" propertyName="nrinstrutores" changeset=changeset classe="numeric"}}
                            </div>
                            <div class="col-md-4 col-sm-12">
                                {{validated-input label="Alunos contratados" propertyName="nralunos" changeset=changeset classe="numeric"}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                

                {{#unless isEdit}}
                    <h4 class="modal__subtitle mt-5">Gestão escolar</h4>
                    <div class="flex flex-row justify-between form-group__usuarios">
                        {{#each segmentos as |segmento|}}
                            {{switch-input label=segmento.titulo propertyName=(concatenate "segmento_" segmento.id) classe="segmento" class="w20 mr-1 d-flex d-flex--c justify-between"}}
                        {{/each}}
                    </div>

                    <h4 class="modal__subtitle mt-5">Gestão calendário</h4>
                    <div class="form-group form-group__usuarios flex flex-row justify-start mr2">
                        <div class="form-group__wrapper form-group__wrapper--select">
                            <select id="new_inst_calendario" name="calendario" data-type="select" data-required="true"
                                data-context="calendario" class="form-group__input">
                                <option selected="selected" value="">---</option>
                                {{#each calendarios as |calendario|}}
                                <option value="{{calendario.id}}">{{calendario.ano}} - {{calendario.descricao}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                {{/unless}}

                <div class="flex flex-row justify-content-between m-top--sm btn-right">
                    {{!-- {{#if isEdit}}
                    {{#link-to 'gerdata.informations.deleteinst' instituicao.id}}
                    <button class="btn" style="background-color: #b62020; margin-right:1rem;">
                        <span>Excluir</span>
                    </button>
                    {{/link-to}}
                    {{/if}} --}}
                    <div class="flex flex-col justify-content-end">
                        <div class="color-error-40 " id="form-inst-error"></div>
                        <button class="btn btn__salvar-info" type="submit" id="btnSubmit">{{buttonLabel}}</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>