{{#if (equalstr conteudo.tipo "Video")}}
    <div class="video" id="video_conteudo"></div>
{{/if}}
{{#if (equalstr conteudo.tipo "Documento")}}
    {{!-- <object id="doc" data={{conteudo.arquivoUrl}} type='application/pdf' width="1000px" height="500px"></object> --}}
    <iframe class="content__pdf hide-on--xs" id="doc" src={{conteudo.arquivoUrl}} type='application/pdf'></iframe>
    <a class="btn content__btnBaixar" id='btnBaixar' href="{{conteudo.arquivoUrl}}" download="{{conteudo.titulo}}.pdf" target="_blank">Baixar PDF</a>
 

{{/if}}
{{#if (equalstr conteudo.tipo "Imagem")}}
    <img class="media__thumb" id="file-{{conteudo.id}}" src={{conteudo.arquivoUrl}} alt="{{conteudo.titulo}}" style="width:800px;height:500px">
{{/if}}