
<label class="form-group__label">{{label}}</label>
<label class="switch__usuarios switch__infos">
    {{#if changeset}}
    {{#if onchange}}
    <input class="{{classe}}" type="checkbox" id="{{propertyName}}" checked={{get changeset propertyName}} onchange={{action onchange}}>
    {{else}}
    <input class="{{classe}}" type="checkbox" id="{{propertyName}}" checked={{get changeset propertyName}} >
    {{/if}}
    {{else}}
    <input class="{{classe}}" type="checkbox" id="{{propertyName}}" checked="checked" >
    {{/if}}

    <div class="slider" for="{{propertyName}}">
        <span class="text disabled-text">
            <span class="switch__usuarios--icone"><img src="/assets/img/cross.png" alt=""></span>
            <p class="row">desabilitados</p>
        </span>
        <span class="text enabled-text">
            <span class="switch__usuarios--icone"><img src="/assets/img/check1.png" alt=""></span>
            <p class="row">habilitados</p>
        </span>
    </div>
</label>