<form {{action 'submit' on='submit' }}>
    <div class="flow-lg institutions__step-content institutions__step-content--is-show">
        <section class="sections__subsection">
            <div style="display: none;">{{startInformation}}</div>
            <div class="flex flex-row">
                <div class="col-md-4">
                    <div class="form-group w100 mt1">
                        <label class="form-group__label" for="new_user_role">Perfil</label>
                        <div class="form-group__wrapper form-group__wrapper--select">
                            <select class="form-group__input j-validate-basic" id="new_user_role"
                                onchange={{action setRole value="target.value" }} 
                                data-type="select">
                                <option value="">Selecione...</option>
                                <option value="aluno">Aluno</option>
                                <option value="instrutor">Professor</option>
                                <option value="secretaria">Secretaria</option>
                                <option value="marketing">Marketing</option>
                                <option value="coordenador">Coordenador</option>
                                <option value="gestor">Gestor</option>
                                {{#if (or (equalstr pessoaLogged.role 'admin') (equalstr pessoaLogged.role 'recursosHumanos'))}}
                                    <option value="recursosHumanos">Recursos Humanos</option>
                                {{/if}}
                                {{#if (and (or (equalstr instituicao.name "Minimo")(equalstr instituicao.name "Semente")) 
                                            (equalstr pessoaLogged.role 'admin'))}}
                                    <option value="admin">Admin</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    <div class="color-error-40" id="role-error"></div>
                </div>
            </div>

            <div class="flex flex-row">
                <div class="col-md-4">
                    {{validated-input label="Nome" propertyName="name" changeset=changeset}}
                </div>
                <div class="col-md-4">
                    {{validated-input label="Login" propertyName="email" changeset=changeset}}
                </div>
                <div class="col-md-4">
                    {{validated-input label="E-mail" propertyName="emailCadastrado" changeset=changeset}}
                </div>
            </div>

            <div class="flex flex-row">
                <div class="col-md-4">
                    {{validated-input label="Telefone" propertyName="telefone" changeset=changeset}}
                </div>
                <div class="col-md-4">
                    {{validated-input label="CPF" propertyName="cpf" changeset=changeset}}
                </div>
                <div class="col-md-4">
                    {{validated-input label="Senha" propertyName="senha" changeset=changeset}}
                </div>
            </div>

            <div class="flex flex-row">
                <div class="col-md-4">
                    <div class="form-group w100">
                        <label class="form-group__label" for="new_user_gender">Sexo</label>
                        <div class="form-group__wrapper form-group__wrapper--select">
                            <select class="form-group__input j-validate-aluno" id="new_user_gender" data-type="select"
                                data-context="sexo">
                                <option value="">Selecione...</option>
                                <option value="feminino">Feminino</option>
                                <option value="masculino">Masculino</option>
                            </select>
                        </div>
                    </div>
                    <div class="color-error-40" id="gender-error"></div>
                </div>

                {{#if (equalstr activeProfile "aluno")}}
                    <div class="col-md-4 animated fadeInLeftShort faster d100">
                        {{!-- {{validated-input label="Nascimento" propertyName="nascimentoPlataforma" changeset=changeset}} --}}
                        <div class="form-group w100">
                            <label class="form-group__label" for="new_user_birth">Nascimento</label>
                            <input class="form-group__input j-validate-aluno" id="new_user_birth" maxlength="10"
                                name="date" onkeyup="var v = this.value;
                            if (v.match(/^\d{2}$/) !== null) {
                                this.value = v + '/';
                            } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                this.value = v + '/';
                            }" type="date" value={{new_user_birth}} data-type="text" data-context="nascimento">
                        </div>
                        <div class="color-error-40" id="nascimento-error"></div>
                    </div>
                {{/if}}
            </div>

            <div class="flex flex-row mt3">
                <div class="col-md-4">
                    <div class="checkbox w100">
                        <input class="checkbox__input" checked={{new_user_enabled}} id="new_user_enabled" type="checkbox">
                        <label class="checkbox__label" for="new_user_enabled">Habilitado</label>
                    </div>
                </div>

                {{#if sEnabled}}
                    <div class="col-md-4">
                        <div class="checkbox w100">
                            <input class="checkbox__input" 
                                checked={{new_user_acessoPlataformaS}} id="new_user_acessoPlataformaS" type="checkbox">
                            <label class="checkbox__label" for="new_user_acessoPlataformaS">Acesso à Plataforma S</label>
                        </div>
                    </div>
                {{/if}}
            </div>

            {{#if (equalstr activeProfile "instrutor")}}
                <div class="flex flex-col animated fadeInLeftShort faster d100 mt3">
                    <h4 class="modal__subtitle">Você é professor aplicador?</h4>
                    <div class="flex flex-row mt1">
                        <div class="col-md-6">
                            <div class="checkbox w100">
                                <input class="checkbox__input" id="new_user_aplicador" type="checkbox"
                                    checked={{new_user_aplicador}} onchange={{action 'checkaplicador' }}>
                                <label class="checkbox__label" for="new_user_aplicador">Sim, eu sou professor aplicador do Programa Semente.</label>
                            </div>
                        </div>
                    </div>

                    {{#if isAplicador}}
                        <div class="flex flex-col animated fadeInLeftShort faster d100 mt1">
                            <h4 class="title-4">Você aplica em quais turmas?</h4>
                            {{#if aplicadorError}}<span id="error_aplicador" class="color-error-30 fs--xs">{{errorMsgAplicador}}</span>{{/if}}
                            <div class="flex flex-row mt1">
                            {{#each segmentos as |segmento| }}
                                <div class="col-md-2">
                                    <h4 class="title-segmento">{{segmento.titulo}}</h4>
                                    {{#each plataformaAnos as |plataformaAno|}}
                                    {{#if (equalstr segmento.id plataformaAno.segmento.id)}}
                                        <div class="flex-col">
                                        <h4 class="title-platano mt0"><b>·</b> {{plataformaAno.name}}</h4>
                                        <ul id="platTurmas-list-{{plataformaAno.id}}">
                                            {{#each plataformaTurmas as |plataformaTurma|}}
                                            {{#if (equalstr plataformaAno.id plataformaTurma.plataformaAno.id)}}
                                            <ul>
                                                <li>
                                                <div class="checkbox">
                                                    <input class="j-validate-aplicador-child checkbox__input" 
                                                    type="checkbox"
                                                    id="plat_turma{{plataformaTurma.id}}"
                                                    onchange={{action (action "addPAPT" plataformaTurma.id) value='target.checked' }}>
                                                    <label class="checkbox__label" for="plat_turma{{plataformaTurma.id}}">{{plataformaTurma.name}}</label>
                                                </div>
                                                </li>
                                            </ul>
                                            {{/if}}
                                            {{/each}}
                                        </ul>
                                        </div>
                                    {{/if}}
                                    {{/each}}
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/if}}

            {{#if (equalstr activeProfile "aluno")}}
                <div class="flex flex-col animated fadeInLeftShort faster d100 mt3">
                    <h4 class="modal__subtitle">Em qual ano e turma deve ser inscrito?</h4>
                    <div class="flex flex-row mt2">
                        <div class="col-md-4">
                            <div class="form-group w100">
                                <label class="form-group__label" for="new_user_ano">Ano</label>
                                <div class="form-group__wrapper form-group__wrapper--select">
                                    <select class="j-validate-aluno form-group__input form-group__input--select"
                                        id="new_user_ano" name="ano" 
                                        onchange={{action 'refreshPlataformaTurmas' value='target.value' }} 
                                        data-type="select" data-required="true" data-type="select"
                                        data-context="ano">
                                        <option selected="selected" value="">---</option>
                                        {{#each (orderby plataformaAnos 'idx') as |pa|}}
                                            <option value="{{pa.id}}">
                                                {{pa.segmento.titulo}} - {{pa.name}}
                                            </option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="color-error-40" id="aluno-ano-error"></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group__container">
                                <div class="form-group w100">
                                    <label class="form-group__label" for="new_user_turma">Turma</label>
                                    <div class="form-group__wrapper form-group__wrapper--select">
                                        <select class="j-validate-aluno form-group__input form-group__input--select"
                                            id="new_user_turma" name="turma"
                                            data-type="select" data-required="true" data-context="turma">
                                            <option selected="selected" value="">---</option>
                                            {{#each plataformaTurmas as |pt|}}
                                                {{#if (equalstr selectedPlataformaAno '')}}
                                                    <option value="{{pt.id}}">{{pt.name}}</option>
                                                {{else}}
                                                    {{#if (equalstr pt.plataformaAno.id selectedPlataformaAno.id)}}
                                                        <option value="{{pt.id}}">{{pt.name}}</option>
                                                    {{/if}}
                                                {{/if}} 
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="color-error-40" id="aluno-turma-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
                
            <div class="flex flex-col justify-content-end mt2">
                <div class="color-error-40" id="form-user-error"></div>
                <button class="btn" type="submit">{{buttonLabel}}</button>
            </div>

            <div style="display: none;">{{afterRenderInformation}}</div>
        </section>
    </div>
</form>
