<form {{action 'submit' on='submit' }}>
    <div class="flow-lg institutions__step-content institutions__step-content--is-show">
        <section class="sections__subsection">
            <div style="display: none;">{{startInformation}}</div>
            <div class="flex flex-row">
                <div class="col-md-4 form-group__usuarios-modal">
                    {{validated-input label="Nome" propertyName="name" changeset=changeset}}
                </div>

                <div class="col-md-4">
                    <div class="form-group w100 mt1">
                        <label class="form-group__label" for="new_user_role">Perfil</label>
                        <div class="form-group__wrapper form-group__usuarios-modal form-group__wrapper--select">
                            <select class="form-group__input j-validate-basic" id="new_user_role" onchange={{action
                                setRole value="target.value" }} data-type="select">
                                <option value="">Selecione...</option>
                                <option value="aluno">Aluno</option>
                                <option value="instrutor">Professor</option>
                                <option value="secretaria">Secretaria</option>
                                <option value="marketing">Marketing</option>
                                <option value="coordenador">Coordenador</option>
                                <option value="gestor">Gestor</option>
                                {{#if (equalstr pessoaLogged.role 'admin')}}
                                <option value="recursosHumanos">Recursos Humanos</option>
                                {{/if}}
                                {{#if (and (or (equalstr instituicao.name "Minimo")(equalstr instituicao.name
                                "Semente"))
                                (equalstr pessoaLogged.role 'admin'))}}
                                <option value="admin">Admin</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    <div class="color-error-40" id="role-error"></div>
                </div>

                {{#unless (equalstr activeProfile "aluno")}}
                <div class="col-md-4">
                    <div class="form-group w100 mt1">
                        <label class="form-group__label" for="new_user_function">Função</label>
                        <div class="form-group__wrapper form-group__usuarios-modal form-group__wrapper--select">
                            <select class="form-group__input j-validate-basic" id="new_user_function"
                                data-type="select">
                                 <option value="">Selecione...</option>
                                <option value="Coordenador Pedagógico">Coordenador Pedagógico</option>
                                <option value="Diretor administrativo">Diretor administrativo</option>
                                <option value="Diretor financeiro">Diretor financeiro</option>
                                <option value="Diretor geral">Diretor geral</option>
                                <option value="Diretor pedagógico">Diretor pedagógico</option>
                                <option value="Mantenedor">Mantenedor</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Professor">Professor</option>
                                <option value="RH">RH</option>
                                <option value="Secretaria">Secretaria</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>
                    </div>
                    <div class="color-error-40" id="function-error"></div>
                </div>
                {{/unless}}
            </div>

            <div class="flex flex-row form-group__usuarios-modal">
                <div class="col-md-6">
                    {{validated-input label="Login" propertyName="email" changeset=changeset}}
                </div>
                <div class="col-md-6">
                    {{validated-input label="E-mail" propertyName="emailCadastrado" changeset=changeset}}
                    <div class="color-error-40" id="email-error"></div>
                </div>
            </div>

            <div class="flex flex-row form-group__usuarios-modal">
                <div class="col-md-4">
                    {{validated-input label="Telefone" propertyName="telefone" classe="phone" changeset=changeset }}
                    <div class="color-error-40" id="phone-error"></div>
                </div>
                <div class="col-md-4">
                    {{validated-input label="CPF" propertyName="cpf" classe="cpf" changeset=changeset}}
                    <div class="color-error-40" id="cpf-error"></div>
                </div>
                <div class="col-md-4">
                    {{validated-input label="Senha" propertyName="senha" changeset=changeset}}
                </div>
            </div>

            <div class="flex flex-row">
                <div class="col-md-4">
                    <div class="form-group w100">
                        <label class="form-group__label" for="new_user_gender">Gênero biológico</label>
                        <div class="form-group__wrapper form-group__usuarios-modal form-group__wrapper--select">
                            <select class="form-group__input j-validate-aluno" id="new_user_gender" data-type="select"
                                data-context="sexo">
                                <option value="">Selecione...</option>
                                <option value="feminino">Feminino</option>
                                <option value="masculino">Masculino</option>
                                <option value="não informar">Não informar</option>
                            </select>
                        </div>
                    </div>
                    <div class="color-error-40" id="gender-error"></div>
                </div>

                <div class="col-md-4">
                    <div class="form-group w100 form-group__usuarios-modal">
                        <label class="form-group__label" for="new_user_birth">Ano de nascimento</label>
                        <input class="form-group__input j-validate-aluno" id="new_user_birth" maxlength="4" min="1900"
                            max="{{anoAtual}}" type="number" value={{new_user_birth}} data-type="text"
                            data-context="nascimento">
                    </div>
                    <div class="color-error-40" id="nascimento-error"></div>
                </div>

                {{#if isEdit}}
                    <div class="col-md-4">
                        <div class="checkbox w100 checkbox__reenvio">
                            <input class="checkbox__input" checked={{new_user_reenviaremail}} id="new_user_reenviaremail"
                                type="checkbox">
                            <label class="checkbox__label" for="new_user_reenviaremail">Reenviar login e senha?</label>
                        </div>
                    </div>
                {{/if}}
            </div>

            <div class="flex flex-row mt3">
                <div class="col-md-3">
                    <div class="checkbox w100">
                        <input class="checkbox__input" checked={{new_user_enabled}} id="new_user_enabled"
                            type="checkbox">
                        <label class="checkbox__label" for="new_user_enabled">Portal</label>
                    </div>
                </div>

                {{#if sEnabled}}
                <div class="col-md-3">
                    <div class="checkbox w100">
                        <input class="checkbox__input" checked={{new_user_acessoPlataformaS}}
                            id="new_user_acessoPlataformaS" type="checkbox">
                        <label class="checkbox__label" for="new_user_acessoPlataformaS">Plataforma Semente</label>
                    </div>
                </div>
                {{/if}}

                {{#if csEnabled}}
                <div class="col-md-4">
                    <div class="checkbox w100">
                        <input class="checkbox__input" checked={{new_user_acessoCs}} id="new_user_acessoCs"
                            type="checkbox">
                        <label class="checkbox__label" for="new_user_acessoCs">Formação de professores</label>
                    </div>
                </div>
                {{/if}} 
            </div>
            {{#if (equalstr activeProfile "instrutor")}}
            <div class="flex flex-col animated fadeInLeftShort faster d100 mt2">
                <h3 class="modal__subtitle">Você é professor aplicador?</h3>
                <div class="flex flex-row mt1">
                    <div class="col-md-6">
                        <div class="checkbox w100">
                            <input class="checkbox__input" id="new_user_aplicador" type="checkbox"
                                checked={{new_user_aplicador}} onchange={{action 'checkaplicador' }}>
                            <label class="checkbox__label" for="new_user_aplicador">Sim, eu sou professor aplicador do
                                Programa Semente.</label>
                        </div>
                    </div>
                </div>

                {{#if isAplicador}}
                <div class="flex flex-row mt1 form-group__usuarios-modal">
                    <div class="col-md-6">
                        {{validated-input label="Disciplina ministrada" propertyName="disciplinaMinistrada"
                        changeset=changeset}}
                        <div class="color-error-40" id="disciplina-error"></div>
                    </div>
                </div>

                <div class="flex flex-col animated fadeInLeftShort faster d100 mt2">
                    <h3 class="modal__subtitle">Você aplica em quais turmas?</h3>
                    {{#if aplicadorError}}<span id="error_aplicador"
                        class="color-error-30 fs--xs">{{errorMsgAplicador}}</span>{{/if}}
                    <div class="flex flex-row mt1 justify-content-between">
                        {{#each segmentos as |segmento| }}
                        {{#if (notequalstr segmento.titulo 'Adultos')}}
                        <div>
                            <h4 class="form-group__usuarios-modal__title-segmento">{{segmento.titulo}}</h4>
                            {{#each plataformaAnos as |plataformaAno|}}
                            {{#if (equalstr segmento.id plataformaAno.segmento.id)}}
                            <div class="flex-col">
                                <h4 class="form-group__usuarios-modal__title-platano"><b>·</b> {{plataformaAno.name}}</h4>
                                <ul id="platTurmas-list-{{plataformaAno.id}}">
                                    {{#each plataformaTurmas as |plataformaTurma|}}
                                    {{#if (equalstr plataformaAno.id plataformaTurma.plataformaAno.id)}}
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <input class="j-validate-aplicador-child checkbox__input"
                                                    type="checkbox" id="plat_turma{{plataformaTurma.id}}"
                                                    onchange={{action (action "addPAPT" plataformaTurma.id)
                                                    value='target.checked' }}>
                                                <label class="checkbox__label"
                                                    for="plat_turma{{plataformaTurma.id}}">{{plataformaTurma.name}}</label>
                                            </div>
                                        </li>
                                    </ul>
                                    {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
            {{/if}}

            {{#if (equalstr activeProfile "aluno")}}
            <div class="flex flex-col animated fadeInLeftShort faster d100 mt2">
                <h3 class="modal__subtitle">Em qual ano e turma deve ser inscrito?</h3>
                <div class="flex flex-row mt1">
                    <div class="col-md-4">
                        <div class="form-group__container">
                            <div class="form-group w100">
                                <label class="form-group__label" for="new_user_ano">Ano</label>
                                <div class="form-group__wrapper form-group__usuarios-modal form-group__wrapper--select">
                                    <select class="j-validate-aluno form-group__input form-group__input--select"
                                        id="new_user_ano" name="ano" onchange={{action 'refreshPlataformaTurmas'
                                        value='target.value' }} data-type="select" data-required="true"
                                        data-type="select" data-context="ano">
                                        <option selected="selected" value="">---</option>
                                        {{#each (orderby plataformaAnos 'idx') as |pa|}}
                                        <option value="{{pa.id}}">
                                            {{pa.segmento.titulo}} - {{pa.name}}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="color-error-40" id="aluno-ano-error"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group__container">
                            <div class="form-group w100">
                                <label class="form-group__label" for="new_user_turma">Turma</label>
                                <div class="form-group__wrapper form-group__usuarios-modal form-group__wrapper--select">
                                    <select class="j-validate-aluno form-group__input form-group__input--select"
                                        id="new_user_turma" name="turma" data-type="select" data-required="true"
                                        data-context="turma">
                                        <option selected="selected" value="">---</option>
                                        {{#each plataformaTurmas as |pt|}}
                                        {{!-- {{#if (equalstr selectedPlataformaAno '')}}
                                        <option value="{{pt.id}}">{{pt.name}}</option>
                                        {{else}} --}}
                                        {{#if (equalstr pt.plataformaAno.id selectedPlataformaAno.id)}}
                                        <option value="{{pt.id}}">{{pt.name}}</option>
                                        {{/if}}
                                        {{!-- {{/if}} --}}
                                        {{/each}}

                                        {{!-- QUANDO AP TIVER TURMA --}}
                                        {{!-- {{#if (and (and csEnabled (equalstr 'Adultos' selectedPlataformaAno.name))
                                        (notequalstr instituicao.name "Semente"))}}
                                        <option value="{{apTurma.id}}">{{apTurma.name}}</option>
                                        {{/if}} --}}
                                    </select>
                                </div>
                            </div>
                            <div class="color-error-40" id="aluno-turma-error"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="col-md-12" style="text-align: right;">
                <div class="color-error-40" id="form-user-error"></div>
                <button class="btn btn__add" type="submit" id="btnSubmit">{{buttonLabel}}</button>
            </div>

            <div style="display: none;">{{afterRenderInformation}}</div>
        </section>
    </div>
</form>