<header class="flow-sm middle-xs row">

  <div class="col-xs-5 col-md-2">
    {{programa-semente-logo class="logo"}}
  </div>

  <div class="col-xs-12 col-md-8 flex flow-h-xxs items-center">
    <div class="self-registration__title color-blue-navy-50 flex flex-col flow-md">
      <p class="fs--md">Você está se cadastrando na escola
        <span class="color-green-40 fw--5">{{uppertext escola.name}} </span>, com o perfil
          {{#if (equalstr model.role 'instrutor')}}
            <span class="color-green-40 fw--5">{{uppertext 'professor'}}</span>
           {{else if (equalstr model.role 'aluno')}}
            <span class="color-green-40 fw--5">{{uppertext 'aluno'}}</span>
          {{else}}
            {{uppertext model.role}},
          {{/if}}
      </p>
      <p>Se alguma dessas informações não estiver correta, <a class="btn btn--link color-leaf-40" {{action 'logout'}}><span class="btn__label">saia do cadastro</span></a>.</p>
    </div>
  </div>
</header>

<div class="row">
  {{#if (equalstr model.role "aluno") }}
  <div class="col-xs-12">
    <ul class="steps j-steps m-v--sm">
      <li id="s1" class="steps__step steps__step--is-active">
        <span class="steps__label">Suas informações</span>
        <span class="steps__number">1</span>
      </li>
      
      <li id="s2" class="steps__step">
        <span class="steps__label">Revisão</span>
        <span class="steps__number">2</span>
      </li>
    </ul>
  </div>
  {{else if (equalstr model.role "instrutor") }}
  <div class="col-xs-12">
    <ul class="steps j-steps m-v--sm">
      <li id="s1" class="steps__step steps__step--is-active">
        <span class="steps__label">Suas informações</span>
        <span class="steps__number">1</span>
      </li>
      <li id="s2" class="steps__step">
        <span class="steps__label">Revisão</span>
        <span class="steps__number">2</span>
      </li>
    </ul>
  </div>
  {{/if}}

</div>

{{#if (equalstr model.role "aluno") }}
<!-- início ALUNO -->
<form class="steps-content carousel carousel--{{step}} j-carousel" autocomplete="off">

  <section class="flow-xl carousel__step carousel__step--1 j-step1 animated fadeInLeftShort">
    <h3 class="title-3">Suas informações</h3>

    <div class="flow-xxl">
      {{profile-form  pessoa=model
                      gonext=(action 'carouselFoward')
                      checkform=(action 'validateForm')
                      checkname=(action 'validateName')
                      checkmail=(action 'liveCheckEmail')
                      validateemail=(action 'validateEmail')
                      removeerrors=(action 'removeErrorTag')
                      addresponsible=(action 'addResponsible')
                      trimall=(action 'trimAll')
                      checkdate=(action 'validateDate')
                      checkcel=(action 'validateCel')
                      maskcel=(action 'phoneMask')
                      celmaxlength=(action 'celReachedMaxLength')
                      toggleinput=(action 'toggleInput')
                      replacecpf=(action 'replaceCPF')
                      verifyCPF=(action 'verifyCPF')
                      ValidaCPFValido=this.ValidaCPFValido
                      cpf=cpf}}
    </div>
    {{checkNameEqualEmail}}
  </section>

  <section class="flow-xl carousel__step carousel__step--2 j-step2 animated fadeInRightShort">
    <h3 class="title-3">Conclusão de cadastro</h3>

    <div class="flow-xxl">
      <section class="flow-md">
        <h4 class="title-4">Você</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-4">

            <ul class="callout flow-md">
              {{!-- <li>{{model.thumb}}</li> --}}
              <li>
                <span class="text-aux">Login</span>
                {{model.email}}
              </li>
              <li>
                <span class="text-aux">Nome completo</span>
                {{model.name}}
              </li>
              <li>
                <span class="text-aux">Gênero</span>
                {{model.genero}}
              </li>
              {{#each model.plataformaAnos as |pa| }}
              <li>
                <span class="text-aux">Série</span>
                {{pa.name}}
              </li>
              {{/each}}
              {{#each model.plataformaTurmas as |pt| }}
              <li>
                <span class="text-aux">Turma</span>
                {{pt.name}}
              </li>
              {{/each}}

            </ul>

          </div>
        </div>
      </section>
      <button class="btn btn--ghost btn--md m-right--sm" onclick={{action 'carouselBackward' }}
        type="button">Voltar</button>
      <button class="btn btn--md" id="confirmar_cadastro" onclick={{action 'validateStudentProfile' }} type="button">Confirmar
        Cadastro</button>

    </div>

  </section>

</form>
<!-- fim ALUNO -->

{{else if (equalstr model.role "instrutor") }}
<!-- início INSTRUTOR -->
<form class="steps-content carousel carousel--{{step}} j-carousel" autocomplete="off">
  <section class="flow-xl carousel__step carousel__step--1 j-step1 animated fadeInLeftShort">
    <h3 class="title-3">Suas informações</h3>

    <div class="flow-xxl">
      {{profile-form pessoa=model
      gonext=(action 'carouselFoward')
      checkform=(action 'validateForm')
      checkname=(action 'validateName')
      checkmail=(action 'liveCheckEmail')
      validateemail=(action 'validateEmail')
      removeerrors=(action 'removeErrorTag')
      checkcel=(action 'validateCel')
      maskcel=(action 'phoneMask')
      adddependente=(action 'addDependent')
      trimall=(action 'trimAll')
      celmaxlength=(action 'celReachedMaxLength')
      toggleinput=(action 'toggleInput')
      replacecpf=(action 'replaceCPF')
      verifyCPF=(action 'verifyCPF')
      ValidaCPFValido=this.ValidaCPFValido
      cpf=cpf
      }}


      <div class="row">

        {{#each model.responsaveis as |resp index| }}
        <div class="col-xs-12 col-sm-4">
          {{responsible-info-card responsavel=resp index=index}}
        </div>
        {{/each}}

      </div>

    </div>

  </section>

  <section class="flow-xl carousel__step carousel__step--2 j-step2 animated fadeInRightShort">
    <h3 class="title-3">Resumo das Informações</h3>
    <div class="flow-xxl">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          {{teacher-info-card instrutor=model}}
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <button class="btn btn--ghost btn--md m-right--sm" {{action "carouselBackward" }} type="button">
        <span class="btn__label">Voltar</span>
      </button>
      <button class="btn btn--md j-endForm" id="confirmar_cadastro" onclick={{action 'validateTeacherProfile' }} type="button">Confirmar Cadastro</button>
    </div>
  </section>
</form>
<!-- início INSTRUTOR -->
{{/if}}




<p class="m-left--sm alert alert--form alert--sm alert--error alert--has-icon animated d250" id="error_form"
  data-animation="fadeIn"></p>
{{preventDefault}}