<section class="flow-xl">
  <div class="flex flex-row m-top--md">
    <div class="mt1">
      {{#link-to 'marketing.areas.index' pasta_id}}
        <button class="main__back btn btn--link color-blue-navy-60 animated fadeInLeftShort faster"
          id="back-person-specific_old" type="button">
          <span class="icon-arrow-left"></span>
          <span class="btn__label">voltar</span>
        </button>
      {{/link-to}}
    </div>
    <h1 class="main__title animated fadeInLeftShort faster d100 m-left--lg m-top--xxs m-bottom--xs">{{pasta.name}}</h1>
  </div>

  <div class="l-dots-between">
    <aside class="l-dots-between__side">
      <form autocomplete="off" class="flex flex-col flow-md">
          {{!-- {{#if (equalstr pessoaRole 'admin')}}
            <button class="btn btn--xxs" type="button" {{action "goToCreateItem"}}>Cadastrar novo item</button>
          {{/if}} --}}

          <div class="form-group">
              <label class="form-group__label">Áreas</label>
              <div class="form-group__wrapper form-group__wrapper--select">
                  <select class="form-group__input" name="area" id="area" onchange={{action 'refreshSelectedArea' value='target.value'}}>
                      <option value="" selected="selected">Todos</option>
                      {{#each areas as |area|}}
                          <option value="{{area.id}}" selected={{if (equalstr area.id selectedArea) "selected"}}>{{area.name}}</option>
                      {{/each}}
                  </select>
              </div>
          </div>

          <div class="form-group">
              <label class="form-group__label">Busca</label>
              <div class="form-group__wrapper form-group__wrapper--search">
                  {{input class="form-group__input" type="text" placeholder="Pesquisar Conteúdo" value=search}}
              </div>
          </div>
      </form>
    </aside>

    <section class="l-dots-between__content flow-md">
      <hgroup>
        <h1 class="sr-only">Lista de conteúdos de {{selectedAreaName}}</h1>
        <h2 class="title-4">{{selectedAreaName}}<span class="fs--xs fw--3 fs-i color-blue-navy-20"> ({{itens.length}} {{if (equalstr itens.length '1') 'item' 'itens'}})</span></h2>
      </hgroup>

      <ul class="list list--striped">
        {{#each itens as |item|}}
            {{#if (containStr search item.titulo)}}
                <li class="flow-sm">
                    {{marketing-card item=item goToEditItem=(action 'goToEditItem') removeItem=(action 'removeItem') openModal=(action 'openModal') cancelRemove=(action 'cancelRemove')}}
                </li>
            {{/if}}
        {{/each}}
      </ul>
    </section>
  </div>
</section>

<aside id="confirm_modal" class="modal">
  <div class="modal__overlayer"></div>
  <div class="modal__content">
    <div class="modal__header">
      <button class="modal__close btn-close icon-x" type="submit" {{action 'cancelRemove'}}></button>
      <h2 class="modal__title color-leaf-40">Tem certeza que deseja remover?</h2>
    </div>
    <div class="modal__footer">
      <button class="btn btn-primary" type="submit" {{action 'removeItem'}}>Sim</button>
      <button class="btn btn-primary" type="submit" {{action 'cancelRemove'}}>Não</button>
    </div>
  </div>
</aside>