<div class="flex flex-row m-top--md">
  <div class="mt1">
    {{#link-to 'marketing.index'}}
      <button class="main__back btn btn--link color-blue-navy-60 animated fadeInLeftShort faster"
        id="back-person-specific_old" type="button">
        <span class="icon-arrow-left"></span>
        <span class="btn__label">voltar</span>
      </button>
    {{/link-to}}
  </div>
  <h1 class="main__title animated fadeInLeftShort faster d100 m-left--lg m-top--xxs m-bottom--xs">{{model.pasta.name}}</h1>
  {{#if (equalstr pessoaLogged.role 'admin')}}
    {{#link-to 'marketing.areas.create' model.pasta.id}}
      <button class="btn btn--xxs animated fadeInLeftShort faster d100">
        <span class="btn__icon icon-plus"></span>
        <span class="btn__label">Adicionar Item</span>
      </button>
    {{/link-to}}
  {{/if}}
</div>

<section class="sections__section flow-xl mt2">
  <ul class="animated fadeInLeftShort faster d100 l-card-list">
    {{#each model.areas as |area idx|}}
      <li>
        <button class="media media--card p--lg" {{action "goToMarketings" area.id}}>
          <picture class="media__picture w-auto">
            <span class="media__thumb" title="{{area.name}}">{{component (strconcat "icon-" area.image) class="p--sm"}}</span>
          </picture>
          <span class="media__body flow-md self-stretch">
            <span class="media__title title-3">{{area.name}}</span>
          </span>
        </button>
      </li>
    {{/each}}
  </ul>
</section>
{{outlet}}