{{gerdata-header pessoa=pessoaLogged informations=false instituicao=instituicao}}

<section class="sections__subsection flow-md animated fadeInLeftShort faster d100 m-top--md">
    <div class="flex flex-row items-center justify-end">
        <div class="institutions__btn-group">
            {{#link-to 'gerdata.users.createuser' instituicao.id}}
            <button class="btn btn--xxs">
                <span class="btn__label institutions__btn--label-usuarios">Novo Usuário</span>
            </button>
            {{/link-to}}
            {{#link-to 'gerdata.users.loteuser' instituicao.id}}
            <button class="btn btn--xxs">
                <span class="btn__label institutions__btn--label-usuarios">Cadastro em lote</span>
            </button>
            {{/link-to}}
            <button class="btn  institutions__btn--label-usuarios btn--xxs" type="submit" {{action 'baixarTemplateAtivos' }}>
                
                Usuários cadastrados
            </button>
            {{#if (and (equalstr pessoaLogged.role 'admin') (equalstr pessoaLogged.id '4881'))}}
            <button class="btn btn--xxs" type="submit" {{action 'sendEmail' }}>
                Enviar Email
            </button>
            <button class="btn btn--xxs" type="submit" style="background-color: #b62020" {{action 'allUsersDisabled' }}>
                Desativar Usuários
            </button>
            {{/if}}
        </div>
    </div>

    <div class="l-dots-between">
        <header class="l-dots-between__side">
            <form class="flex flex-col flow-md" autocomplete="off" aria-autocomplete="none">
                <label class="switch__usuarios">
                    <input type="checkbox" id="only-enabled" {{action 'setEnableds' on='change'}} checked="checked">
                    <div class="slider">
                        <span class="text disabled-text"><span class="switch__usuarios--icone"><img src="/assets/img/cross.png" alt=""></span><p class="row">ver desabilitados</p></span>
                        <span class="text enabled-text"><span class="switch__usuarios--icone"><img src="/assets/img/check1.png" alt=""></span><p class="row">ver habilitados</p></span>
                    </div>
                </label>

                <div class="form-group form-group__usuarios">
                    <label class="form-group__label" for="search">Busca por usuário</label>
                    {{input class="form-group__input"
                    aria-autocomplete="none"
                    aria-describedby="basic-addon1"
                    autocomplete="off"
                    id="search_input_pessoas_ger"
                    type="text"
                    value=searchVal}}
                </div>

                {{#if instituicaoMae}}
                <div class="form-group form-group__usuarios">
                    <label class="form-group__label">Unidades</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" name="instituicao_filha" id="instituicao_filha_selector"
                            onchange={{action 'selectedInstituicaoFilha' value='target.value' }} data-type="select"
                            data-required="true">
                            <option selected="selected" value="">Todas</option>
                            {{#each instituicao.instituicaoFilhas as |instf|}}
                            <option style="display: block" value="{{instf.id}}" selected={{if (equalstr instf
                                selectedInstFilha) "selected" }}>
                                {{instf.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/if}}

                <div class="form-group form-group__usuarios" id="segmento_selector">
                    <label class="form-group__label">Segmentos</label>
                    <div class="form-group__wrapper form-group__usuarios form-group__wrapper--select">
                        <select class="form-group__input" name="segmento" onchange={{action 'selectedSegmento'
                            value='target.value' }} data-type="select" data-required="true">
                            <option selected="selected" value="">Todos</option>
                            {{#each segmentos as |seg|}}
                            <option style="display: block" value="{{seg.id}}" selected={{if (equalstr seg
                                selectedSegmento) "selected" }}>
                                {{seg.titulo}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group__usuarios" id="platano_selector">
                    <label class="form-group__label">Ano</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" name="plataformaAno" onchange={{action 'selectedPlataformaAno'
                            value='target.value' }} data-type="select" data-required="true">
                            <option selected="selected" value="">Todas</option>
                            {{#each plataformaAnos as |platAno|}}
                            {{#if (equalstr selectedSegmento '')}}
                            <option value="{{platAno.id}}" selected={{if (equalstr platAno
                                selectedPlataformaAno) "selected" }}>{{platAno.name}}</option>
                            {{else}}
                            {{#if (equalstr platAno.segmento.id selectedSegmento.id)}}
                            <option value="{{platAno.id}}" selected={{if (equalstr platAno
                                selectedPlataformaAno) "selected" }}>{{platAno.name}}</option>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#unless instituicaoMae}}
                <div class="form-group form-group__usuarios" id="platturma_selector">
                    <label class="form-group__label">Turma</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" name="plataformaTurma"
                            onchange={{action 'selectedPlataformaTurma' value='target.value' }} data-type="select"
                            data-required="true">
                            <option selected="selected" value="">Todas</option>
                            {{#each plataformaTurmas as |platTurma|}}
                            {{#if (equalstr selectedSegmento '')}}
                            {{#if (equalstr selectedPlataformaAno '')}}
                            <option value="{{platTurma.id}}" selected={{if (equalstr platTurma
                                selectedPlataformaTurma) "selected" }}>{{platTurma.name}}</option>
                            {{else}}
                            {{#if (equalstr platTurma.plataformaAno.id selectedPlataformaAno.id)}}
                            <option value="{{platTurma.id}}" selected={{if (equalstr platTurma
                                selectedPlataformaTurma) "selected" }}>{{platTurma.name}}</option>
                            {{/if}}
                            {{/if}}
                            {{else}}
                            {{#if (equalstr selectedPlataformaAno '')}}
                            {{#each plataformaAnos as |platAno|}}
                            {{#if (equalstr platAno.segmento.id selectedSegmento.id)}}
                            {{#if (equalstr platTurma.plataformaAno.id platAno.id)}}
                            <option value="{{platTurma.id}}" selected={{if (equalstr platTurma
                                selectedPlataformaTurma) "selected" }}>{{platTurma.name}}</option>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                            {{else}}
                            {{#if (equalstr platTurma.plataformaAno.id selectedPlataformaAno.id)}}
                            <option value="{{platTurma.id}}" selected={{if (equalstr platTurma
                                selectedPlataformaTurma) "selected" }}>{{platTurma.name}}</option>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/unless}}
            </form>
        </header>
        <section class="l-dots-between__content flow-md">
            <div class="loader-local {{if (equalstr gerdataLoaderState 1) 'loader-local--is-show' ''}}">
                <div class="loader-local__loader">
                    <span class="icon-reload icon--xl"></span>
                    Buscando
                </div>
                <table class="institutions__table-usuarios table--users">
                    <thead>
                        <tr>
                            <th class="institutions__table-usuarios--name-usuarios pl-0" scope="col">
                                <div {{action 'setSort' 'name' }}>Nome</div>
                            </th>
                            <th class="institutions__table-usuarios--role" scope="col">Perfil</th>
                            <th class="institutions__table-usuarios--enabled text-center" scope="col">Plataforma Semente</th>
                            <th class="institutions__table-usuarios--enabled text-center" scope="col">Formação de Professores</th>
                            <th class="institutions__table-usuarios--enabled text-center" scope="col">Admin</th>
                            <th class="institutions__table-usuarios--actions pr-0" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pessoas_sorted as |pessoa|}}
                        <tr id="linha-pessoa-{{pessoa.id}}">
                            
                            <td class="table__name">
                                <p>
                                    <strong class="institutions__table-usuarios--title-usuarios capitalized">{{pessoa.nameLower}}</strong>
                                </p>
                                <p class='institutions__table-usuarios--title-email'>{{pessoa.userName}}</p>
                                {{#if pessoa.instituicao.instituicaoFilhas}}
                                <p class="table__inst">{{pessoa.instituicao.name}}</p>
                                {{/if}}
                                {{#if (equalstr pessoa.role 'aluno')}}
                                <div class="table__school-info">
                                    <p>{{pessoa.plataformaAnos.firstObject.segmento.titulo}}</p>
                                    <p>{{pessoa.plataformaAnos.firstObject.name}}</p>
                                    <p>{{pessoa.plataformaTurmas.firstObject.name}}</p>
                                </div>
                                {{/if}}
                            </td>
                            <td class="institutions__table-usuarios--role">
                                {{#if (equalstr pessoa.role 'instrutor')}}
                                <p class="">professor</p>
                                {{else if (equalstr pessoa.role 'recursosHumanos')}}
                                <p class="">RH</p>
                                {{else}}
                                <p class="">{{pessoa.role}}</p>
                                {{/if}}
                            </td>
                            <td class="ta-c">
                                <span class="icon--md {{if pessoa.acessoPlataformaS 'icon-check icon--success' 'icon-x icon--error'}}"></span>
                            </td>
                            <td class="ta-c">
                                <span class="icon--md {{if pessoa.acessoCs 'icon-check icon--success' 'icon-x icon--error'}}"></span>
                            </td>
                            <td class="ta-c">
                                <span class="icon--md {{if pessoa.enabled 'icon-check icon--success' 'icon-x icon--error'}}"></span>
                            </td>
                            <td class="btn-acoes">
                                {{#link-to 'gerdata.users.edituser' pessoa.id}}
                                    <button class="btn-editar icon-edit"></button>
                                {{/link-to}}

                                {{#link-to 'gerdata.users.deleteuser' pessoa.id}}
                                    <button class="btn-excluir icon-trash-2"></button>
                                {{/link-to}}
                            </td>
                        </tr>
                        <span class="institutions__table--pessoa"></span>
                        {{/each}}
                    </tbody>
                    <div class="institutions__table-usuarios--pagination">
                        {{#unless (equalstr totalPessoas '0')}}
                            {{page-numbers content=pagedContent class="pagination-usuarios pagination--sm pagination--center"}}
                        {{/unless}}
                    </div>
                </table>
            </div>
        </section>
    </div>
</section>
{{outlet}}