 {{gerdata-header role=role informations=false instituicao=model.instituicao}}
 
<section class="sections__subsection flow-md animated fadeInLeftShort faster d100 m-top--sm">
  <div class="row">
    {{#each segmentos as |segmento| }}
    <div class="col-xs-12 col-lg-2 flow-sm">
      <h4 class="title-segmento"><b>{{segmento.titulo}}</b></h4>
      {{#each (orderby segmento.plataformaAnos 'idx') as |plataformaAno|}}
      <ul>
        <li>
          <div class="checkbox">
            <input class="j-validate-aplicador-child checkbox__input" 
              type="checkbox"
              id="plat_ano{{plataformaAno.id}}" 
              checked={{if (isinarray plataformaAno instituicao.plataformaAnos) "checked" '' }} 
              onchange={{action (action "selectAno" plataformaAno) value='target.checked' }} 
            >
            <label class="checkbox__label" for="plat_ano{{plataformaAno.id}}">{{plataformaAno.name}}</label>
          </div>
        </li>
      </ul>
      {{/each}}
    </div>
    {{/each}}
  </div>
  {{#if (equalstr role 'admin')}}
    <footer class="modal__footer">
      <button class="btn" type="submit" {{action 'saveCourses' }}>Salvar</button>
    </footer>
  {{/if}}
</section>
