 {{gerdata-header pessoa=pessoaLogged informations=false instituicao=model.instituicao}}
 
<section class="sections__subsection flow-md animated fadeInLeftShort faster d100 m-top--sm">
  <div class="row">
    {{#each segmentos as |segmento| }}
    <div class="col-xs-12 col-lg-2 flow-sm">
      <h4 class="title-segmento"><b>{{segmento.titulo}}</b></h4>
      {{#each (orderby segmento.plataformaAnos 'idx') as |plataformaAno|}}
      <ul>
        <h5 class="title-platano">• {{plataformaAno.name}}</h5>
        <li>
            <div class="checkbox">
              <input class="j-validate-aplicador-child checkbox__input" 
                type="checkbox"
                id="plat_ano{{plataformaAno.id}}" 
                checked={{if (instplatsisContains plataformaAno instituicao.instituicaoPlataformaAnoSistema '1') "checked" '' }} 
                onchange={{action (action "openModal" plataformaAno) value='target.checked' }} 
              >
              <label class="checkbox__label" for="plat_ano{{plataformaAno.id}}">Habilitado</label>
            </div>
        </li>
      </ul>
      {{/each}}
    </div>
    {{/each}}
  </div>
</section>

<aside id="confirm_modal" class="modal modal--is-show" style="display:none;">
    <div class="modal__overlayer"></div>
    <div class="modal__content m-top--md">
        <header class="modal__header">
            <button class="modal__close btn-close icon-x" onclick={{action 'closeModal' 'true'}}></button>
            <h3 class="modal__title">Confirmar edição de ano</h3>
        </header>

        <div class="modal__body">
          <div class="flex flex-row justify-content-end mt2">
              <button class="btn" onclick={{action 'selectAno'}}>Confirmar</button>
              <button class="btn" onclick={{action 'closeModal' 'true'}} style="background-color: #b62020; margin-left:1rem;">Cancelar</button>
          </div>
        </div>
    </div>
</aside>
