{{gerdata-header pessoa=pessoaLogged informations=false instituicao=model.instituicao}}

<section class="sections__subsection flow-md animated fadeInLeftShort faster d100 m-top--sm institutions__table-anos ">
  <div class="institutions__table-anos--titulo mt-0 ml-0">Anos contratados pela escola</div>
  <div class="row justify-content-between institutions__table-anos--col ml-0 mr-0">
    {{#each segmentos as |segmento| }}
    {{#unless (equalstr segmento.idx '6')}}
      <div class="flow-sm">
        <h4 class="institutions__table-anos--title-segmento">{{segmento.titulo}}</h4>
        {{#each (orderby segmento.plataformaAnos 'idx') as |plataformaAno|}}
          <ul class="institutions__table-anos--check">
            <h5 class="institutions__table-anos--title-platano"> {{plataformaAno.name}}</h5>
            <label class="switch__anos">

              {{#if (or (containStr "Fundação Bradesco" model.instituicao.name) (or (equalstr segmento.idx '1') (and (equalstr segmento.idx '5') (notequalstr plataformaAno.idx '17'))))}}
                <input type="checkbox"
                    id="plat_ano{{plataformaAno.id}}_portal" checked={{if (instplatsisContains plataformaAno
                    instituicao.instituicaoPlataformaAnoSistema '1' ) "checked" '' }} onchange={{action (action "openModal"
                    plataformaAno '1' 'false' ) value='target.checked' }}>
              {{else}}
                <input type="checkbox"
                  id="plat_ano{{plataformaAno.id}}_s" checked={{if (instplatsisContains plataformaAno
                  instituicao.instituicaoPlataformaAnoSistema '2' ) "checked" '' }} onchange={{action (action "openModal"
                  plataformaAno '2' 'false' ) value='target.checked' }}>
              {{/if}}

              <div class="slider">
                <span class="text enabled-text">
                  <p>SIM</p>
                </span>
                <span class="text disabled-text">
                  <p>NÃO</p>
                </span>
              </div>
            </label>
          </ul>
        {{/each}}
      </div>
    {{/unless}}
    {{/each}}
  </div>

  {{#if (or acessoS acessoAp)}}
  <div class="institutions__filtro-anos"></div>
  {{/if}}
  
  <div class="row ml-0 mr-0">
    {{#if acessoS}}
      <div class="flow-sm institutions__filtro-anos--tipo">
        <p>Percurso de medição definido para os adultos:</p>
        <div class="form-group">
          <div class="form-group__wrapper form-group__wrapper--select-anos ">
                <select id="platAnoAdulto" class="form-group__input form-group__input--anos" onchange={{action "openModalDrop"}}>
                  {{#each segmentos as |segmento| }}
                  {{#if (equalstr segmento.idx '6')}}
                  {{#each (orderby segmento.plataformaAnos 'idx') as |plataformaAno|}}
                    <option id="plat_ano{{plataformaAno.id}}_s" value="{{plataformaAno.id}}"
                     selected={{if (instplatsisContains plataformaAno instituicao.instituicaoPlataformaAnoSistema '2' ) "selected" }}>{{plataformaAno.name}}</option>
                  {{/each}}
                  {{/if}}
                  {{/each}}
                </select>
              </div>
        </div>
      </div>
    {{/if}}

    {{!-- {{#if acessoAp}}
      <div class="col-xs-12 col-lg-6 flow-sm institutions__filtro-anos--tipo" >
        <p>Versão da formação acadêmica utilizada:</p>
        <div class="form-group">
          <div class="form-group__wrapper form-group__wrapper--select-anos ">
                <select id="busca" class="form-group__input form-group__input--anos">
                  <option selected="selected" value="9">1.1</option>
                    <option value="10">1.2</option>
                    <option value="12">1.3</option>
                    <option value="13">1.4</option>
                    <option value="11">Turma FB</option>
                </select>
              </div>
        </div>
      </div>
    {{/if}} --}}
  </div>
</section>

<aside id="confirm_modal" class="modal modal--is-show" style="display:none;">
  <div class="modal__overlayer"></div>
  <div class="modal__content m-top--md">
    <header class="modal__header">
      <button class="modal__close btn-close icon-x" onclick={{action 'closeModal' 'true' }}></button>
      <h3 class="modal__title">Confirmar edição de ano</h3>
    </header>

    <div class="modal__body">
      <div class="flex flex-row justify-content-end mt2">
        <button class="btn" onclick={{action 'selectAno' }}>Confirmar</button>
        <button class="btn" onclick={{action 'closeModal' 'true' }}
          style="background-color: #b62020; margin-left:1rem;">Cancelar</button>
      </div>
    </div>
  </div>
</aside>