<section class="l-timeline">

  {{scrollToNext}}

  <section class="main__section">

    <h2 class="main__subtitle main__subtitle--timeline">Aulas</h2>

    <div class="timeline">

      <nav class="timeline__inner-nav">
        <ul class="flow-xs">
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToCurrent' }}>Última liberada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToLast' }}>Última acessada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToTop' }}>Ir ao topo</button>
          </li>
        </ul>
      </nav>

      <div class="timeline__begin">
        Início do
        {{#if (equalstr model.idx 1)}}primeiro{{/if}}
        {{#if (equalstr model.idx 2)}}segundo{{/if}}
        {{#if (equalstr model.idx 3)}}terceiro{{/if}}
        ano
      </div>

      <ol class="timeline__line">
        <li class="timeline__mark">
          <div class="timeline__date-block class__date-block">
            <span class="icon-calendar icon--xl"></span>
            <span class="class__date">
              <span class="class__day-aux">INÍCIO DA SUA</span>
              <span class="class__day">JORNADA</span>
            </span>
          </div>
          <div id="card_1" class="timeline__class class class--is-disabled">

            <span class="timeline__status timeline__status--is-locked">
              <span class="icon-lock">
                <img src="/dist/assets/img/play.png" alt="">
              </span>
            </span>

            <div class="class__info flow-md">

             <video preload="" tabindex="-1" disablepictureinpicture="" style="" src="blob:https://player.vimeo.com/45593b23-e741-4b93-9011-94c348c419ca"></video>
            </div>


          </div>
        </li>
        {{#each sortedAtividades as |atividade idx|}}
        <li class="timeline__mark{{if (equalstr (get listaStartUnit idx) 1) ' timeline__mark--start-unit'}}">
          {{#if (equalstr (get listaStartUnit idx) 1)}}
          <!-- o lição que terá o elemento visual  "fim de unidade" acima receberá a classe extra de timeline__mark--start-unit. -->
          {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
          {{else}}
          {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
          {{/if}}
        </li>
        {{/each}}
      </ol>

      <div class="timeline__end">
        Fim do
        {{#if (equalstr model.idx 1)}}
        primeiro
        {{/if}}

        {{#if (equalstr model.idx 2)}}
        segundo
        {{/if}}

        {{#if (equalstr model.idx 3)}}
        terceiro
        {{/if}}
        ano
      </div>

    </div>

  </section>
</section>


<aside id="termo_modal" class="modal">
  <div class="modal__overlayer"></div>
  <div class="modal__content">
    <div class="modal__header">
      <button class="modal__close btn-close icon-x" type="submit" {{action 'cancelTermo' }}></button>
      <h2 class="modal__title color-leaf-40">Política de privacidade</h2>
    </div>
    {{politica-privacidade class="privacy"}}
    <div class="modal__footer">
      <button class="btn btn-primary" type="submit" {{action 'aceitarTermo' }}>Aceitar</button>
    </div>
  </div>
</aside>
{{termoAceito}}