<div class="flex flex-row m-top--md mb-2">
    {{#if (or (equalstr pessoa.role 'admin') (and (equalstr pessoa.role 'gestor') (equalstr pessoa.instituicao.id '9')))}}
        <div class="mt1">
            <button class="main__back btn btn--link color-blue-navy-60 animated fadeInLeftShort faster" onclick={{action 'goToGerAcompanhamento' }}
            id="back-person-specific_old" type="button">
            <span class="icon-arrow-left"></span>
            <span class="btn__label">voltar</span>
            </button>
        </div>
      <h1 class="main__title animated fadeInLeftShort faster d100 m-left--lg m-top--xxs m-bottom--xs">
        Visão Geral - {{model.instituicao.name}}
      </h1>
    {{else}}
      <h1 class="main__title animated fadeInLeftShort faster d100 m-top--xxs m-bottom--xs">
        Visão Geral
      </h1>
    {{/if}}
</div>

<section class="flow-xl mb-3">
    <div class="box-area">
        <div class="box-area__item1">
            <h2 class="box-area__title-4">Contratados</h2>
            <p>Alunos: <span>{{model.acompanhameto.nrAlunos}}</span></p>
            <p>Professores: <span>{{model.acompanhameto.nrProfessores}}</span></p>
            <p>Secretaria: <span>{{model.acompanhameto.nrSecretarias}}</span></p>
            <p>Marketing: <span>{{model.acompanhameto.nrMarketings}}</span></p>
            <p>Cooredenadores: <span>{{model.acompanhameto.nrCooredenadores}}</span></p>
            <p>Gestores: <span>{{model.acompanhameto.nrGestores}}</span></p>
        </div>

        {{#each acompanhamentoSistemas as |sistema|}}
            <div class="box-area__divisor"></div>
            <div class="box-area__item1">
                <h2 class="box-area__title-4">{{sistema.sistema.name}}</h2>
                <p>Alunos: <span>{{sistema.nrAlunos}}</span></p>
                <p>Professores: <span>{{sistema.nrProfessores}}<span class="tooltip">
                        <span class="btn-detalhes"><span class="btn-detalhes-text">+</span></span>
                        <span class="tooltiptext">
                            <p>Aplicadores: <span>{{sistema.nrProfessoresAplicadores}}</span></p>
                            <p>Não Aplicadores: <span>{{sistema.nrProfessoresNaoAplicadores}}</span></p>
                        </span>
                    </span></span>
                </p>
                <p>Secretaria: <span>{{sistema.nrSecretarias}}</span></p>
                <p>Marketing: <span>{{sistema.nrMarketings}}</span></p>
                <p>Cooredenadores: <span>{{sistema.nrCooredenadores}}</span></p>
                <p>Gestores: <span>{{sistema.nrGestores}}</span></p>
            </div>
        {{/each}}
    </div>
</section>

<section class="sections__section flow-xl mb-3">
  <div class="tabs animated fadeInLeftShort faster d250">
    {{#each segmentos as |segmento|}}
        <button class="report__tab tabs__tab {{if (equalstr segmento.idx selectedSegmento.idx) 'tabs__tab--is-active'}}" {{action 'refreshSelectedSegmento' segmento}}>
          <span>{{segmento.titulo}}</span>
        </button>
    {{/each}}
  </div>
</section>

<section class="flow-xl">
    {{#unless isAdulto}}
        {{#if isMedio}}
            <div class="l-dots-between">
                    <header class="l-dots-between__side">
                        <form autocomplete="off" class="flex flex-col flow-md box-area">
                            <div class="two-col-wrap">
                                <button class="btn btn--as-filter {{if (equalstr selectedContent 'geral') 'btn--is-active'}}" {{action 'refreshContent' 'geral'}} type="button">
                                    <span class="btn__label">Geral</span>
                                </button>
                                <button id="detalhado" class="btn btn--as-filter {{if (equalstr selectedContent 'detalhado') 'btn--is-active'}}" {{action 'refreshContent' 'detalhado'}} type="button">
                                    <span class="btn__label">Detalhado</span>
                                </button>
                            </div>

                            <div class="form-group">
                                <label class="form-group__label">Busca</label>
                                <div class="form-group__wrapper form-group__wrapper--search">
                                    {{input class="form-group__input"
                                    type="text"
                                    id="pesquisaperfil"
                                    placeholder="Pesquisar Perfil"
                                    value=this.search}}
                                </div>
                                <a class="form__aux-link" onclick={{action 'eraseText' }}>Limpar busca</a>
                            </div>

                            <div class="form-group">
                                <label class="form-group__label" for="situation">Perfis</label>
                                <div class="form-group__wrapper form-group__wrapper--select">
                                    <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedFilteredRole'
                                        value='target.value' }}>
                                        <option value="aluno">Aluno</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-group__label" for="situation">Anos</label>

                                <div class="form-group__wrapper form-group__wrapper--select">
                                    <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedAno'
                                        value='target.value' }}>
                                        <option selected="selected" value="">Todos</option>
                                        {{#each plataformaAnos as |pa|}}
                                        <option selected={{if (equalstr pa.id selectedPlataformaAno.id) "selected" }}
                                            value={{pa.id}}>{{pa.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            {{#if (equalstr selectedFilteredRole "aluno")}}
                                {{#if platAnoFiltered}}
                                    <div class="form-group">
                                        <label class="form-group__label">Turma</label>
                                        <div class="form-group__wrapper form-group__wrapper--select">
                                            <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedTurma'
                                                value='target.value' }}>
                                                <option selected="selected" value="">Todas</option>
                                                {{#each plataformaTurmas as |pt|}}
                                                <option value={{pt.id}} selected={{if (equalstr pt.id selectedPlataformaTurma.id) "selected"
                                                    }}>
                                                    {{pt.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </form>
                    </header>
                    <section class="l-dots-between__content flow-md box-area">
                        {{#if (equalstr selectedContent 'geral')}}
                        <div class="report-course">
                            <ul class="report-class flow-md" id="acomp_classes">
                                {{#each acompanhamentoAtividade as |acomp|}}
                                    <li class="report-class__two-col">
                                        <div class="flow-xxs flex flex-col justify-center items-start">
                                            <span class="title-aux">Aula {{acomp.atividade.idx}}</span>
                                            <h3 class="title-3 color-blue-navy-50">
                                            <a class="link--dotted"><span>{{acomp.atividade.name}}</span></a>{{!--{{action 'goToAtividade' curso_selected.id atividade.id on="click"}}--}}
                                            </h3>
                                        </div>

                                        <div class="report-class__stacked-bar stacked-bar">
                                            <div class="stacked-bar__values">
                                            <span class="stacked-bar__value--1" style={{acomp.styleNaoiniciado}}></span>
                                            <span class="stacked-bar__value--2" style={{acomp.styleAndamento}}></span>
                                            <span class="stacked-bar__value--3" style={{acomp.styleCompletaram}}></span>
                                            </div>

                                            <div class="stacked-bar__legend">
                                            <span>
                                                <span class="stacked-bar__color-element stacked-bar__value--1"></span>
                                                <span >Não iniciado:
                                                <strong>{{acomp.naoiniciados}}</strong> ({{acomp.naoiniciadosPerc}}%)
                                                </span>
                                            </span>

                                            <span>
                                                <span class="stacked-bar__color-element stacked-bar__value--2"></span>
                                                <span>Em andamento:
                                                <strong>{{acomp.andamento}}</strong> ({{acomp.andamentoPerc}}%)
                                                </span>
                                            </span>

                                            <span>
                                                <span class="stacked-bar__color-element stacked-bar__value--3"></span>
                                                <span>Completo:
                                                <strong>{{acomp.completaram}}</strong> ({{acomp.completaramPerc}}%)
                                                </span>
                                            </span>
                                            </div>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}

                        {{#if (equalstr selectedContent 'detalhado')}}
                            <div style="display:none;">{{pessoasDetalhado}}</div>
                            <div class="flex flex-col mt-0">
                                <div class="flex flex-row items-end justify-end mb-2">
                                    <button id="btn-download" class="btn btn--ghost" {{action 'downloadFile'}}>Baixar relatório em Excel</button>
                                </div>
                                <div class="flex flex-row items-end justify-end mb-1">
                                    {{#unless (equalstr totalPessoas '0')}}
                                        {{acomp-page-numbers content=pessoasDetalhadoL currentPage=page class="pagination--sm pagination--right"}}
                                    {{/unless}}
                                </div>
                                <div class="container-scroll container-scroll--v">
                                    <div class="container-scroll__scroll" style="max-height: {{stylePerPageText}};">
                                    <table class="report-people__table table table--striped table--short table--fix-col">
                                        <thead>
                                        <tr>
                                            <th>Aluno<span class="inline-block m-h--xs">/</span>Aulas</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                            <th>8</th>
                                            <th>9</th>
                                            <th>10</th>
                                            <th>11</th>
                                            <th>12</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each pessoasDetalhadoL as |pessoa|}}
                                            <tr {{action 'selectPessoa' pessoa.id}}>
                                            <td class="report-people__person flex flex-row items-center justify-start">
                                                <span class="report-people__avatar avatar avatar--sm m-right--xs">
                                                {{#if pessoa.uriAvatar}}
                                                <img class="avatar__img" src={{pessoa.uriAvatar}} alt="{{pessoa.name}}">
                                                {{else}}
                                                <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{pessoa.name}}">
                                                {{/if}}
                                                </span>
                                                <span class="truncate capitalized">
                                                {{pessoa.nameLower}}
                                                </span>
                                            </td>
                                            {{#if (equalstr pessoa.progressoAtividades.length '0')}}
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                            {{else}}
                                                {{#each pessoa.progressoAtividades as |prog|}}
                                                {{#if (equalstr prog.percentFixed '100')}}
                                                    <td class="color-success--dark bg-success-0"><span
                                                        class="report-people__status">{{prog.percentFixed}}%</span></td>
                                                {{else if (equalstr prog.percentFixed '0')}}
                                                    <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                                                {{else}}
                                                    <td class="color-warning--dark bg-warning-0"><span
                                                        class="report-people__status">{{prog.percentFixed}}%</span></td>
                                                {{/if}}
                                                {{/each}}
                                            {{/if}}
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </section>
            </div>
        {{else}}
            <div class="l-dots-between">
                <header class="l-dots-between__side">
                    <form autocomplete="off" class="flex flex-col flow-md box-area">
                        <div class="form-group">
                            <label class="form-group__label">Busca</label>
                            <div class="form-group__wrapper form-group__wrapper--search">
                                {{input class="form-group__input"
                                type="text"
                                id="pesquisaperfil"
                                placeholder="Pesquisar Perfil"
                                value=this.search}}
                            </div>
                            <a class="form__aux-link" onclick={{action 'eraseText' }}>Limpar busca</a>
                        </div>


                        <div class="form-group">
                            <label class="form-group__label" for="situation">Perfis</label>
                            <div class="form-group__wrapper form-group__wrapper--select">
                                <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedFilteredRole'
                                    value='target.value' }}>
                                    <option value="aluno">Aluno</option>
                                    {{#unless (equalstr pessoa.role 'instrutor')}}
                                        <option value="instrutor">Professor</option>
                                    {{/unless}}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="form-group__label" for="situation">Anos</label>

                            <div class="form-group__wrapper form-group__wrapper--select">
                                <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedAno'
                                    value='target.value' }}>
                                    <option selected="selected" value="">Todos</option>
                                    {{#each plataformaAnos as |pa|}}
                                    <option selected={{if (equalstr pa.id selectedPlataformaAno.id) "selected" }}
                                        value={{pa.id}}>{{pa.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        {{#if (equalstr selectedFilteredRole "aluno")}}
                        {{#if platAnoFiltered}}
                        <div class="form-group">
                            <label class="form-group__label">Turma</label>
                            <div class="form-group__wrapper form-group__wrapper--select">
                                <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedTurma'
                                    value='target.value' }}>
                                    <option selected="selected" value="">Todas</option>
                                    {{#each plataformaTurmas as |pt|}}
                                    <option value={{pt.id}} selected={{if (equalstr pt.id selectedPlataformaTurma.id) "selected"
                                        }}>
                                        {{pt.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                    </form>
                </header>
                <section class="l-dots-between__content flow-md box-area">
                    {{#if (equalstr selectedFilteredRole 'instrutor')}}
                    <table class="table table--striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="ta-c">Vídeos acessados</th>
                                <th class="ta-c">Documentos acessados</th>
                                <th class="ta-c">Acessos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if (equalstr model.acompanhameto.professoresFiltered "0")}}
                                <p class="n-encontrado">Nenhum professor encontrado</p>
                            {{else}}
                                {{#each acompanhamentoPessoas as |p|}}
                                {{#if (and (equalstr p.role 'instrutor')(containStr subStr = this.search mainStr = p.name))}}
                                <tr>
                                    <td>
                                        <div class="flex flex-col flow-sm">
                                            <span class="title-5 capitalized">{{p.name}}</span>
                                            <span class="fs--xxs tt-u">{{p.userName}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col flow-sm">
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">De professor:</span>
                                                <span class="strong">{{p.nrConteudoVideoAluno}} / {{p.nrConteudoVideoAlunoTotal}}</span>
                                            </span>
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">De Aluno:</span>
                                                <span class="strong">{{p.nrConteudoVideoProfessor}} / {{p.nrConteudoVideoProfessorTotal}}</span>
                                            </span>
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">Outros:</span>
                                                <span class="strong">{{p.nrConteudoVideoOutro}} / {{p.nrConteudoVideoOutroTotal}}</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col flow-sm">
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">De professor:</span>
                                                <span class="strong">{{p.nrConteudoDocumentoAluno}} / {{p.nrConteudoDocumentoAlunoTotal}}</span>
                                            </span>
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">De Aluno:</span>
                                                <span class="strong">{{p.nrConteudoDocumentoProfessor}} / {{p.nrConteudoDocumentoProfessorTotal}}</span>
                                            </span>
                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">Outros:</span>
                                                <span class="strong">{{p.nrConteudoDocumentoOutro}} / {{p.nrConteudoDocumentoOutroTotal}}</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="p-h--xs">
                                        <div class="flex flex-col flow-sm">
                                            <span
                                                class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u acomp-ultimos-acessos"
                                                style="border-bottom: 1px solid #000;">
                                                <span class="ws-i">Último</span>
                                                <span class="strong">{{p.lastAccess}}</span>
                                            </span>

                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">Total</span>
                                                <span class="strong">{{p.acessos}}</span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                {{/if}}
                                {{/each}}
                            {{/if}}
                        </tbody>
                    </table>
                    {{else}}
                    <table class="table table--striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="ta-c">Tarefas Realizadas</th>
                                <th class="ta-c">Acessos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if (equalstr model.acompanhameto.alunosFiltered "0")}}
                                <p class="n-encontrado">Nenhum aluno encontrado</p>
                            {{else}}
                                {{#each acompanhamentoPessoas as |a|}}
                                {{#if (and (equalstr a.role 'aluno')(containStr subStr = this.search mainStr = a.name))}}
                                <tr>
                                    <td class="flex flex-col flow-sm">
                                        <span class="title-4 capitalized">{{a.name}}</span>
                                        <span class="fs--xxs tt-u">{{a.userName}}</span>
                                    </td>
                                    <td class="ta-c">
                                        {{a.nrTarefasAlunos}} / {{#if (equalstr selectedSegmento.idx '5')}}18{{else}}12{{/if}}
                                    </td>
                                    <td class="p-h--xs">
                                        <div class="flex flex-col flow-sm">
                                            <span
                                                class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u acomp-ultimos-acessos"
                                                style="border-bottom: 1px solid #000;">
                                                <span class="ws-i">Último</span>
                                                <span class="strong">{{a.lastAccess}}</span>
                                            </span>

                                            <span class="flex flex-row flow-h-xxs items-center justify-between fs--xxs tt-u">
                                                <span class="ws-i">Total</span>
                                                <span class="strong">{{a.acessos}}</span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                {{/if}}
                                {{/each}}
                            {{/if}}
                        </tbody>
                    </table>
                    {{/if}}
                </section>
            </div>
        {{/if}}
    {{/unless}}
</section>

<div id="downloading" class="alert  alert--has-icon alert--no-interaction">
  <p>O relatório está sendo gerado e seu download iniciará em breve.</p>
</div>