<div style="display: none;">{{oneInst}}</div>
<aside class="help" id="help">
  <h2 class="sr-only">Pedir ajuda ou enviar dúvida, sugestão ou reportar problema</h2>
  <button id="help__trigger" class="help__trigger btn btn--icon btn--md icon-help-circle" {{action "toggleHelp"}}></button>

  <div id="help__container" class="help__container">
    <button id="help__close" class="help__close btn-close icon-x" {{action "toggleHelp"}}></button>
    <div id="formHelp" class="help__form flow-md">
      <div class="help__basic-info">
        <span class="help__user-avatar avatar avatar--sm"><img src={{uri_avatar}}></span>
        <div class="overflow-hidden">
          <span class="title-aux truncate">{{username}}</span>
          {{#each model as |pessoa idx|}}
            {{#if (equalstr id_instituicao pessoa.instituicao_id)}}
              <span id="instName" class="help__user-institution title-aux">
                {{pessoa.instituicao_name}}
              </span>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <p class="title-3">Envie uma mensagem para nós</p>
      <p>Pode ser <strong>sugestão</strong>, <strong>reportar um erro</strong> ou até<strong> um elogio</strong>.</p>
      <div class="form-group">
        <label class="form-group__label" for="helpEmail">Por qual e-mail gostaria de ser contatado?</label>
        <input type="text" maxlength="80" class="form-group__input" id="helpEmail" rows="6" form="formHelp" onfocus={{action 'supportMailFocus'}} onkeyup={{action 'checkEmailForm'}} wrap required>
        <span class="m-top--xxs m-bottom--md fs--xxs color-error-20 animated {{if helpMail 'fadeOut' ''}} {{if SupportMailWarn ' fadeIn is-visible--v' 'is-hidden--v'}}">Informe um e-mail válido</span>
        <label class="form-group__label" for="helpMsg">Mensagem</label>
        <textarea class="form-group__input animated {{if helpMail 'flipInX' 'form-group__input--is-disabled'}}" id="helpMsg" rows="6" form="formHelp" disabled={{if helpMail false true}} oninput={{action 'checkMsgForm'}} wrap required></textarea>
        <span class="m-top--xxs fs--xxs animated {{if allowSendMessage 'fadeOut'}}">Mínimo de 5 caracteres</span>
      </div>
      <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <button class="help__cta btn self-end btn--text-remove" id="help_logout" {{action 'logout' }}>Sair</button>
        <button class="help__cta btn self-start" id="help__cta" {{action 'supportMailer' }} disabled={{if allowSendMessage
          false true}}>Enviar</button>
      </div>
     

    </div>
    <div class="help__success">
      <span class="icon-check icon--success icon--xxl"></span>
      <p class="title-aux">Mensagem enviada com sucesso!</p>
    </div>
  </div>
</aside>

<header class="header" id="header_layout">
  {{programa-semente-logo class="header__logo"}}
  {{userLastAccess}}
  <div class="header__overlayer"></div>
  <nav class="header__nav global-nav">
    <button class="global-nav__trigger icon-menu"></button>

    <ul id="global-nav-menu" class="global-nav__list">
      <button class="global-nav__close icon-x"></button>

      {{#if hasModulo}}
        {{#if (equalstr role 'aluno')}}
          <li class="global-nav__item" id="header-modulos">
            {{#link-to 'modulos.modlist' ModuloIdx class="global-nav__link"}}<span>Aulas EAD</span>{{/link-to}}
          </li>
          {{#if urlLivro}}
            <li class="global-nav__item">
              <a class="global-nav__link" href="{{urlLivro}}" target="_blank" rel="nofollow noopener noreferrer">
                <span>Livro</span>
              </a>
            </li>
          {{/if}}
          {{#unless isEja}}
            <li class="global-nav__item" id="header-modulos">
                {{#link-to 'aulas.bibliotecaindex' class="global-nav__link"}}<span>Biblioteca</span>{{/link-to}}
            </li>
          {{/unless}}
        {{/if}}
      {{/if}}

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_image_trigger">
          <span>Alterar imagem do perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_pass_trigger">
          <span>Alterar senha</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'goToProfile'}}>
        <a href="#" class="global-nav__link header-indicadores">
          <span>Meu perfil</span></a></li>

      {{#if (equalstr role 'aluno')}}
      {{#if isEja}}
        <li class="global-nav__item global-nav--mob-only" {{action 'goToCertificados'}}>
          <a href="#" class="global-nav__link header-indicadores">
            <span>Meus certificados</span></a></li>
      {{/if}}
      {{/if}}

      <li class="global-nav__item global-nav--mob-only">
        <a href="#" class="global-nav__link header-indicadores" {{action 'goToCalendario'}}>
          <span>Meu calendário</span></a></li>

      {{#if acessoS}}
        <li class="global-nav__item global-nav--mob-only">
          <a href="https://s.programasemente.com.br" class="global-nav__link header-indicadores" target="_blank">
            <span>Plataforma S</span>
          </a>
        </li>
      {{/if}}
        
      <li class="global-nav__item global-nav--mob-only" style="margin-top: auto;">
        <a href="#" class="global-nav__link header-indicadores" {{action 'invalidateSession'}}>
          <span>Fazer Logout</span></a></li>

      <li class="global-nav__item global-nav__submenu-holder hide-on--xs visible-on--lg">
          <a class="global-nav__link j-apps" {{action 'openNotificationMenu'}}>
            <span class="notification-icon-menu icon-calendar"></span>
            <span class="notification-counter" id="notification-counter" style="display: none;">{{counter}}</span>
          </a>
      </li>

      {{#if acessoS}}
        <li class="global-nav__item global-nav__submenu-holder hide-on--xs visible-on--lg">
            <a class="global-nav__link j-apps" href="https://s.programasemente.com.br" target="_blank">
              <span class="m-left--sm title-aux">Plataforma S</span>
            </a>
        </li>
      {{/if}}

      <li class="global-nav__item global-nav__submenu-holder hide-on--sm visible-on--lg">
        <a class="global-nav__link j-thumb" href="#">
          <span class="global-nav__avatar-holder">
            <img class="j-application-avatar" src={{uri_avatar}}>
          </span>
          <span class="m-left--sm title-aux">{{firstnameoremailpart username}}</span>
          <span class="icon-chevron-down hide-on--xs"></span>
        </a>

        <div class="global-nav__submenu submenu submenu--header submenu--user" id="thumbSubmenu">
          <ul class="submenu__body">
            <li class="submenu__item">
              <a href="#" id="change_image_trigger" class="submenu__link">
                <span>Alterar imagem do perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" id="change_pass_trigger" class="submenu__link">
                <span>Alterar senha</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'goToProfile'}}>
                <span>Meu perfil</span></a></li>

            {{#if (equalstr role 'aluno')}}
            {{#if isEja}}
              <li class="submenu__item">
                <a href="#" class="submenu__link" {{action 'goToCertificados'}}>
                  <span>Meus certificados</span></a></li>
            {{/if}}
            {{/if}}

            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'goToCalendario'}}>
                <span>Meu calendário</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'invalidateSession'}}>
                <span>Fazer Logout</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

  <!-- MUDANÇA DE SENHA -->
  <aside id="change_pass_modal" class="modal">
    <div class="modal__content modal__content--sm">
      <header class="modal__header">
        <button id="change_pass_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar senha</h1>
      </header>

      <div class="modal__body">
        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass">Senha atual</label>
          <input class="form-group__input" type="password" id="pass" value="">
        </div>

        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass_new">Nova senha</label>
          <input class="form-group__input" type="password" id="pass_new" value="">
        </div>

        <div class="form-group form-group--full-width">
          <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
          <div class="form-group__container form-group">
            <span id="msg-new-pass-success" class="form__msg form__msg--bellow form__msg--success"><span
                class="form__msg-icon icon-check"></span>Par
              de senhas perfeito!</span>
            <span id="msg-new-pass-warning" class="form__msg form__msg--bellow form__msg--warning"><span
                class="form__msg-icon icon-alert-triangle"></span>Senhas
              não batem...</span>
            <input class="form-group__input" type="password" id="pass_new_copy" value="">
          </div>
        </div>

        {{#if error_forgot}}
          <div class="alert alert--warning alert--has-icon">
            <span class="alert__icon icon-alert-triangle"></span>
            <p>{{{error_forgot}}}</p>
          </div>
        {{/if}}
      </div>

      <footer class="modal__footer">
        <button class="btn" type="submit" {{action 'changePw'}}>Atualizar senha</button>
      </footer>
    </div>
    <div class="modal__overlayer"></div>
  </aside>

  <!-- MUDANÇA DE AVATAR -->
  <aside id="change_image_modal" class="modal">
    <div class="modal__content modal__content--md">
      <header class="modal__header">
        <button id="change_image_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar imagem do perfil</h1>
      </header>

      <div class="modal__body">
        <div class="flow-sm">
          <p>Para facilitar, nós recortaremos a imagem para você. Sugerimos que escolha uma foto onde só haja você.</p>

          <div class="image-change">
            <div class="avatar avatar--lg">
              <div class="avatar__img avatar__img--as-bg" id="avatar-modale"
                style="background-image: url('{{uri_avatar}}');"></div>
            </div>
            <label class="image-change__cta btn">Buscar imagem
              <input onchange={{action "buscarArquivoAvatar"}} type="file" id="arquivoAvatar" style="display: none;"
               accept="image/png,image/jpeg" name="file">
            </label>
          </div>

          {{#if selected_file_avatar}}
            <p style="margin-top: 20px" id="nomeArquivo" type="text" class="form-control"
              readonly><strong>{{selected_file_avatar}}</strong></p>
          {{/if}}
        </div>
      </div>

      <footer class="modal__footer">
        {{#if avatar_loading}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled"><i
              class="fa fa-spinner fa-pulse fa-2x"></i></button>
        {{else if selected_file_avatar}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" {{action 'sendAvatar'}}>Salvar</button>
        {{else}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled">Salvar</button>
        {{/if}}
      </footer>
    </div>

    <div class="modal__overlayer"></div>
    <div style="display: none;">{{avatar}}</div>
  </aside>
</header>

<div id="content-main" class="content-main">
  {{#if role}}
    <main class="main">
      {{outlet}}
    </main>
  {{else}}
    <aside id="select_inst_modal" class="modal modal--is-show">
      <form class="modal__content modal__content--md" autocomplete="off" aria-autocomplete="none">
        <header class="modal__header">
          <h3 class="modal__title">Selecione uma instituição</h3>
        </header>
        {{input class="form-group__input"
            aria-describedby="basic-addon1"
            id="searchValue"
            key-up="instSearch"
            type="text"
            autocomplete="off"
            aria-autocomplete="none"}}

        <ul id="searchDisplay" class="select-inst" style="display:none;">
          {{#each filteredInsts as |inst|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' inst.id on='click'}}>
                {{inst.instituicao_name}}
              </a>
            </li>
          {{/each}}
        </ul>

        <ul id="modelList" class="select-inst">
          {{#each instList as |pessoa idx|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' pessoa.id on='click'}}>
                {{pessoa.instituicao_name}}
              </a>
            </li>
          {{/each}}
        </ul>
      </form>
      <div class="modal__overlayer bg--students"></div>
    </aside>
  {{/if}}
</div>

<!-- internet connection -->
<div id="snackbarConnection" class="alert alert--xs alert--has-icon alert--no-interaction alert--warning">
  <span class="alert__icon icon-alert-triangle icon--lg"></span>
  <p>Sem conexão com a Internet</p>
</div>

<div style="display: none;">{{InstituicaoId}}</div>
<div style="display: none;">{{InstituicaoName}}</div>

{{#if notificationMenu}}
  <div style="display: none;">{{notifications}}</div>
  <aside id="notification-container" class="notification-plan__main animated fadeInRight faster">
    <div  class="notification-plan__container notification-plan--space" {{action 'closeNotificationMenu'}}></div>
    <div  class="notification-plan__container notification-plan--is-open">
      <div class="flex flex-row justify-content-around mb1">
        <a href="#" class="icon icon-x mt0 mr3" {{action 'closeNotificationMenu'}}></a>
        <span class="notification-plan__title">Notificações</span> 
      </div>
      <div class="notification-plan__scroll">
        <div class="flex flex-col justify-content-start mt1">
          <span class="notification-plan__subtitle">Recentes</span>
          <hr size="1" width="99%" color="#d6d6d6">
          {{#if hasNewNotification}}
            {{#each newNotifications as |notification|}}
              <div class="flex flex-col justify-content-start notification-plan__card">
                <span class="notification-card-date">{{dateFormat notification.start}}</span>
                <span class="notification-card-title">{{notification.title}}</span>
                <span class="notification-card-text">{{notification.text}}</span>
                <span class="notification-card-text">
                  <a href="{{notification.link}}" target="_blank">{{notification.link}}</a>
                </span>
              </div>
            {{/each}}
          {{else}}
            <div class="flex flex-row justify-content-center mt4">
              <span class="notification-plan__subtitle">Nenhuma notificação</span>
            </div>
          {{/if}}
        </div>
        <div class="flex flex-col justify-content-start mt3">
          <span class="notification-plan__subtitle">Outras</span>
          <hr size="1" width="99%" color="#e0e0e0">
          {{#if hasOldNotification}}
              {{#each oldNotifications as |pessoaNotification|}}
                <div class="flex flex-col justify-content-start notification-plan__card">
                  <div class="flex flex-row justify-content-between">
                    <span class="notification-card-date">{{dateFormat pessoaNotification.notification.start}}</span>
                    <span class="notification-card-date">Visto: {{dateFormat pessoaNotification.view}}</span>
                  </div>
                  <span class="notification-card-title">{{pessoaNotification.notification.title}}</span>
                  <span class="notification-card-text">{{pessoaNotification.notification.text}}</span>
                  <span class="notification-card-text">
                    <a href="{{pessoaNotification.notification.link}}" target="_blank">{{pessoaNotification.notification.link}}</a>
                  </span>
                </div>
              {{/each}}
          {{else}}
            <div class="flex flex-row justify-content-center mt4">
              <span class="notification-plan__subtitle">Nenhuma notificação</span>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </aside>    
{{/if}}


