<div style="display: none;">{{oneInst}}</div>

<aside id="warn__container" class="warn__container">
    
  <div class="warn__wrapper animated fadeInDown d250 slow">
    
      <div class="icon icon-alert-triangle icon--xxl"></div>
      {{!-- <span class="warn__title">Aviso de manutenção programada:</span> --}}
      <span class="warn__span-sizeAdjust">No dia <span class="warn__text-emphasize">25/11/2023</span> entre 10h e 20h, nossos sistemas ficarão intermitentemente fora do ar ou instáveis, devido a uma manutenção. Agradecemos a compreensão.</span>
    
      <a class="warn__close-btn" {{action "closeWarn"}}>Entendi!</a>
  </div>
</aside>

<aside class="help" id="help">
  <h2 class="sr-only">Pedir ajuda ou enviar dúvida, sugestão ou reportar problema</h2>
  <button id="help__trigger" class="help__trigger btn btn--icon btn--md icon-help-circle" {{action "toggleHelp"}}></button>

  <div id="help__container" class="help__container">
    <button id="help__close" class="help__close btn-close icon-x" {{action "toggleHelp"}}></button>
    <div id="formHelp" class="help__form flow-md">
      <div class="help__basic-info">
        <span class="help__user-avatar avatar avatar--sm"><img src={{uri_avatar}}></span>
        <div class="overflow-hidden">
          <span class="title-aux truncate">{{username}}</span>
          {{#each model as |pessoa idx|}}
            {{#if (equalstr id_instituicao pessoa.instituicao_id)}}
              <span id="instName" class="help__user-institution title-aux">
                {{pessoa.instituicao_name}}
              </span>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <p class="title-3 color-blue-navy-40">Precisa de ajuda?</p>

      <p>Acesse nossa <a class="color-green-70 fw--4" style="text-decoration:underline" href="https://sementeeducao.zendesk.com/" target="_blank">central de ajuda</a></p>
      <p class="title-4 color-blue-navy-40">ou</p>
      <p>envie uma mensagem para nós:</p>
      <div class="form-group">
        <label class="form-group__label" for="helpEmail">Por qual e-mail gostaria de ser contatado?</label>
        <input type="text" maxlength="80" class="form-group__input" id="helpEmail" rows="6" form="formHelp" onfocus={{action 'supportMailFocus'}} onkeyup={{action 'checkEmailForm'}} wrap required>
        <span class="m-top--xxs m-bottom--md fs--xxs color-error-20 animated {{if helpMail 'fadeOut' ''}} {{if SupportMailWarn ' fadeIn is-visible--v' 'is-hidden--v'}}">Informe um e-mail válido</span>
        <label class="form-group__label" for="helpMsg">Mensagem</label>
        <textarea class="form-group__input animated {{if helpMail 'flipInX' 'form-group__input--is-disabled'}}" id="helpMsg" rows="6" form="formHelp" disabled={{if helpMail false true}} oninput={{action 'checkMsgForm'}} wrap required></textarea>
        <span class="m-top--xxs fs--xxs animated {{if allowSendMessage 'fadeOut'}}">Mínimo de 5 caracteres</span>
      </div>
      <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <button class="help__cta btn self-end btn--text-remove" id="help_logout" {{action 'logout' }}>Sair</button>
        <button class="help__cta btn self-start" id="help__cta" {{action 'supportMailer' }} disabled={{if allowSendMessage
          false true}}>Enviar</button>
      </div>
     

    </div>
    <div class="help__success">
      <span class="icon-check icon--success icon--xxl"></span>
      <p class="title-aux">Mensagem enviada com sucesso!</p>
    </div>
  </div>
</aside>



  <!-- MUDANÇA DE SENHA -->
  <aside id="change_pass_modal" class="modal">
    <div class="modal__content modal__content--sm">
      <header class="modal__header">
        <button id="change_pass_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar senha</h1>
      </header>

      <div class="modal__body">
        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass">Senha atual</label>
          <input class="form-group__input" type="password" id="pass" value="">
        </div>

        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass_new">Nova senha</label>
          <input class="form-group__input" type="password" id="pass_new" value="">
        </div>

        <div class="form-group form-group--full-width">
          <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
          <div class="form-group__login form-group">
            <span id="msg-new-pass-success" class="form__msg form__msg--bellow form__msg--success"><span
                class="form__msg-icon icon-check"></span>Par
              de senhas perfeito!</span>
            <span id="msg-new-pass-warning" class="form__msg form__msg--bellow form__msg--warning"><span
                class="form__msg-icon icon-alert-triangle"></span>Senhas
              não batem...</span>
            <input class="form-group__input" type="password" id="pass_new_copy" value="">
          </div>
        </div>

        {{#if error_forgot}}
          <div class="alert alert--warning alert--has-icon">
            <span class="alert__icon icon-alert-triangle"></span>
            <p>{{{error_forgot}}}</p>
          </div>
        {{/if}}
      </div>

      <footer class="modal__footer">
        <button class="btn" type="submit" {{action 'changePw'}}>Atualizar senha</button>
      </footer>
    </div>
    <div class="modal__overlayer"></div>
  </aside>

  <!-- MUDANÇA DE AVATAR -->
  <aside id="change_image_modal" class="modal">
    <div class="modal__content modal__content--md">
      <header class="modal__header">
        <button id="change_image_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar imagem do perfil</h1>
      </header>

      <div class="modal__body">
        <div class="flow-sm">
          <p>Para facilitar, nós recortaremos a imagem para você. Sugerimos que escolha uma foto onde só haja você.</p>

          <div class="image-change">
            <div class="avatar avatar--lg">
              <div class="avatar__img avatar__img--as-bg" id="avatar-modale"
                style="background-image: url('{{uri_avatar}}');"></div>
            </div>
            <label class="image-change__cta btn">Buscar imagem
              <input onchange={{action "buscarArquivoAvatar"}} type="file" id="arquivoAvatar" style="display: none;"
               accept="image/png,image/jpeg" name="file">
            </label>
          </div>

          {{#if selected_file_avatar}}
            <p style="margin-top: 20px" id="nomeArquivo" type="text" class="form-control"
              readonly><strong>{{selected_file_avatar}}</strong></p>
          {{/if}}
        </div>
      </div>

      <footer class="modal__footer">
        {{#if avatar_loading}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled"><i
              class="fa fa-spinner fa-pulse fa-2x"></i></button>
        {{else if selected_file_avatar}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" {{action 'sendAvatar'}}>Salvar</button>
        {{else}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled">Salvar</button>
        {{/if}}
      </footer>
    </div>

    <div class="modal__overlayer"></div>
    <div style="display: none;">{{avatar}}</div>
  </aside>

<div id="content-main" class="content-main">
  {{#if role}}
    
      {{outlet}}
    
  {{else}}
    <aside id="select_inst_modal" class="modal modal--is-show">
      <form class="modal__content modal__content--md" autocomplete="off" aria-autocomplete="none">
        <header class="modal__header">
          <h3 class="modal__title">Selecione uma instituição</h3>
        </header>
        {{input class="form-group__input"
            aria-describedby="basic-addon1"
            id="searchValue"
            key-up="instSearch"
            type="text"
            autocomplete="off"
            aria-autocomplete="none"}}

        <ul id="searchDisplay" class="select-inst" style="display:none;">
          {{#each filteredInsts as |inst|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' inst.id on='click'}}>
                {{inst.instituicao_name}}
              </a>
            </li>
          {{/each}}
        </ul>

        <ul id="modelList" class="select-inst">
          {{#each instList as |pessoa idx|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' pessoa.id on='click'}}>
                {{pessoa.instituicao_name}}
              </a>
            </li>
          {{/each}}
        </ul>
      </form>
      <div class="modal__overlayer bg--students"></div>
    </aside>
  {{/if}}
</div>

<!-- internet connection -->
<div id="snackbarConnection" class="alert alert--xs alert--has-icon alert--no-interaction alert--warning">
  <span class="alert__icon icon-alert-triangle icon--lg"></span>
  <p>Sem conexão com a Internet</p>
</div>

<div style="display: none;">{{InstituicaoId}}</div>
<div style="display: none;">{{InstituicaoName}}</div>

