{{header-geral parentController = this.aulasController pessoa=pessoaLogged thisRoute=thisRoute}}
<main class="main">
  <div class="institutions flow-md">
    <header class="main__header main__header--has-side-info">
      <h1 class="main__title animated fadeInLeftShort faster">Administração</h1>
      {{#if (equalstr pessoaLogged.role "admin")}}
        {{#link-to 'gersistema.createinst'}}
        <button class="btn btn--xxs animated fadeInLeftShort faster d100">
          <span class="btn__icon icon-plus"></span>
          <span class="btn__label">Nova Instituição</span>
        </button>
        {{/link-to}}
      {{/if}}
    </header>

    <section class="sections__section animated fadeInLeftShort faster d100">
      <form class="main__search" autocomplete="off" aria-autocomplete="none">
        <div class="form-group form-group--full-width">
          <label class="form-group__label" for="search">Busca</label>
          <div class="form-group__wrapper form-group__wrapper--search">
            {{input class="form-group__input"
            aria-describedby="basic-addon1"
            autocomplete="off"
            aria-autocomplete="none"
            id="matchValue"
            key-up="filterInst"
            type="text"}}
          </div>
        </div>
      </form>
    </section>

    <ul id="matchDisplay" class="list list--striped animated fadeInLeftShort faster d750" style="display:none;">
      {{#each matchInsts as |inst|}}
      <li class="l-devil-albatross">
        {{#if (equalstr pessoaLogged.role "admin")}}
          {{#link-to 'gerdata.informations' inst.id}}
            <a class="title-3 btn btn--link color-blue-navy-60">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{else}}
          {{#link-to 'gerdata.users' inst.id}}
            <a class="title-3 btn btn--link color-blue-navy-60">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{/if}}
        <span class="switch switch--institutions flex-none m-left--auto m-right--auto">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox" disabled="disabled" checked={{inst.enabled}}>
          <label class="switch__label" for="activeInstId{{inst.id}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>
      </li>
      {{/each}}
    </ul>

    <ul id="modelInstList" class="list list--striped animated fadeInLeftShort faster d100">
      {{#each model.instituicoes as |inst|}}
      <li class="l-devil-albatross">
        {{#if (equalstr pessoaLogged.role "admin")}}
          {{#link-to 'gerdata.informations' inst.id}}
            <a class="title-3 btn btn--link color-blue-navy-60">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{else}}
          {{#link-to 'gerdata.users' inst.id}}
            <a class="title-3 btn btn--link color-blue-navy-60">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{/if}}
        <span class=" switch switch--institutions flex-none m-left--auto m-right--auto">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox" disabled="disabled" checked={{inst.enabled}}>
          <label class="switch__label" for="activeInstId{{inst.id}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>
      </li>
      {{/each}}
    </ul>
  </div>

  {{outlet}}

</main>