{{header-geral parentController = this.aulasController pessoa=pessoaLogged thisRoute=thisRoute route='administracao'}}
<main class="main pt-5">
  <div class="institutions flow-md">
    <header class="main__header main__header--has-side-info">
      {{!-- <h1 class="main__title animated fadeInLeftShort faster">Administração</h1> --}}
      {{#if (equalstr pessoaLogged.role "admin")}}
        {{#link-to 'gersistema.createinst'}}
        <button class="btn btn__nova--instituicao animated fadeInLeftShort faster d100">
          <span class="btn__icon icon-plus"></span>
          <span class="btn__label">Nova Instituição</span>
        </button>
        {{/link-to}}
      {{/if}}
    </header>

    <section class="sections__section sections__section--instituicao animated fadeInLeftShort faster d100">
      <form class="main__search main__search-instituicao" autocomplete="off" aria-autocomplete="none">
        <div class="form-group form-group__buscar--intituicoes">
          {{!-- <label class="form-group__label" for="search">Busca</label> --}}
          <div class="form-group__wrapper form-group__wrapper--search">
            {{input class="form-group__input"
             placeholder="Procure por uma instituição"
            aria-describedby="basic-addon1"
            autocomplete="off"
            aria-autocomplete="none"
            id="matchValue"
            key-up="filterInst"
            type="text"}}
          </div>
        </div>
      </form>
      <form class="form-group__tipo-instituicao">
     <p>Tipo de instituição:</p>   
  <input type="checkbox" value="Trial">
  <label for="vehicle1"> Trial</label>
  <input type="checkbox" value="Piloto">
  <label for="vehicle2"> Piloto</label>
  <input type="checkbox" value="Cliente">
  <label for="vehicle3">Cliente</label>
</form>
    </section>

    <ul id="matchDisplay" class="list list--striped animated fadeInLeftShort faster d750" style="display:none;">
      {{#each matchInsts as |inst|}}
      <li class="l-devil-albatross">
        {{#if (equalstr pessoaLogged.role "admin")}}
          {{#link-to 'gerdata.informations' inst.id}}
            <a class="list__title--instituicao ">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{else}}
          {{#link-to 'gerdata.users' inst.id}}
            <a class="list__title--instituicao ">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{/if}}
        <span class="switch switch--institutions flex-none m-left--auto m-right--auto">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox" disabled="disabled" checked={{inst.enabled}}>
          <label class="switch__label" for="activeInstId{{inst.id}}">
          </label>
        </span>
      </li>
      {{/each}}
    </ul>

    <ul id="modelInstList" class="list list--striped animated fadeInLeftShort faster d100">
      {{#each model.instituicoes as |inst|}}
      <li class="l-devil-albatross list__linhas">
        {{#if (equalstr pessoaLogged.role "admin")}}
          {{#link-to 'gerdata.informations' inst.id}}
            <a class="list__title--instituicao ">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{else}}
          {{#link-to 'gerdata.users' inst.id}}
            <a class="list__title--instituicao">
              <span class="btn__label">{{inst.name}}</span>
            </a>
          {{/link-to}}
        {{/if}}
        <span class="list__etiqueta">Piloto</span>
        <span class=" switch switch--institutions flex-none m-left--auto m-right--auto">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox" disabled="disabled" checked={{inst.enabled}}>
          <label class="switch__label switch__label--habilitado" for="activeInstId{{inst.id}}">
          </label>
        </span>
      </li>
      {{/each}}
    </ul>
  </div>

  {{outlet}}

</main>